## Import required libraries

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importing dataset

In [4]:
# Let's import the dataset

df = pd.read_csv(r'E:\Study\Projects\EDA\generated_dataset.csv')
pd.set_option('display.max_columns', None)

In [5]:
# Let's view the top 5 records of our dataset

df.head()

,id,name,region,product,category,sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70
0,ID_1,Name_41,West,Product_12,Food,9198.42,96,2024-04-21,10316.70,6987.90,4.37,326,711.37,411,395.83,431,206.26,296,757.41,167,NaN,184,173.50,312,18.86,167,110.17,322,87.68,10,604.89,180,194.96,50,687.81,126,816.28,382,468.33,413,693.96,417,232.84,52.0,77.31,175,685.76,435,792.65,121,180.89,443,110.20,425,377.91,188,619.14,276,664.96,145,80.20,173,36.99,285,859.86,410,87.24,194,538.93,252
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2023-04-23,9501.19,6113.22,3.49,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177
2,ID_3,Name_2,North,Product_15,Clothing,9046.39,31,2022-01-22,NaN,7992.03,1.11,304,373.02,191,440.35,480,536.43,120,922.83,481,344.13,51,181.93,105,390.96,348,48.07,351,953.97,126,222.52,340,151.36,276,347.86,334,975.16,109,189.03,17,249.01,33,133.07,174.0,46.24,152,176.45,52,851.88,294,388.97,222,821.76,91,313.45,227,264.80,145,869.45,4,714.42,172,706.28,88,297.11,161,396.00,311,769.80,12
3,ID_4,Name_48,South,Product_4,Food,4689.43,55,2024-07-17,5621.50,4206.08,1.10,22,2.74,328,930.31,107,533.22,17,194.62,34,803.80,423,12.79,211,580.28,324,643.22,170,238.61,349,910.59,417,147.84,298,961.54,98,425.73,392,735.93,335,979.74,228,579.76,NaN,175.91,357,939.44,414,906.28,134,238.93,56,206.60,390,581.83,478,737.95,96,881.26,306,741.32,140,640.95,286,475.11,41,547.57,450,789.10,493
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2024-02-26,9487.01,4717.43,1.11,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250

In [6]:
# Let's find the no. of rows and columns of our dataset
df.shape

(1500, 70)

In [7]:
# Let's see the information or description of our dataset like column names, datatype, null or not etc.

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 70 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        1500 non-null   object
 1   name      1500 non-null   object
 2   region    1500 non-null   object
 3   product   1500 non-null   object
 4   category  1500 non-null   object
 5   sales     1500 non-null   float64
 6   quantity  1500 non-null   int64
 7   date      1500 non-null   object
 8   revenue   1391 non-null   float64
 9   cost      1441 non-null   float64
 10  rating    1500 non-null   float64
 11  col_12    1500 non-null   int64
 12  col_13    1500 non-null   float64
 13  col_14    1500 non-null   int64
 14  col_15    1500 non-null   float64
 15  col_16    1500 non-null   int64
 16  col_17    1500 non-null   float64
 17  col_18    1500 non-null   int64
 18  col_19    1500 non-null   float64
 19  col_20    1500 non-null   int64
 20  col_21    1415 non-null   float64
 21  col_22    1500 non-null   int64
 22  col_23    1415 non-null   float64
 23  col_24    1500 non-null   int64
 24  col_25    1500 non-null   float64
 25  col_26    1500 non-null   int64
 26  col_27    1418 non-null   float64
 27  col_28    1500 non-null   int64
 28  col_29    1500 non-null   float64
 29  col_30    1500 non-null   int64
 30  col_31    1500 non-null   float64
 31  col_32    1500 non-null   int64
 32  col_33    1500 non-null   float64
 33  col_34    1500 non-null   int64
 34  col_35    1500 non-null   float64
 35  col_36    1500 non-null   int64
 36  col_37    1500 non-null   float64
 37  col_38    1500 non-null   int64
 38  col_39    1500 non-null   float64
 39  col_40    1500 non-null   int64
 40  col_41    1500 non-null   float64
 41  col_42    1500 non-null   int64
 42  col_43    1500 non-null   float64
 43  col_44    1390 non-null   float64
 44  col_45    1500 non-null   float64
 45  col_46    1500 non-null   int64
 46  col_47    1500 non-null   float64
 47  col_48    1500 non-null   int64
 48  col_49    1403 non-null   float64
 49  col_50    1500 non-null   int64
 50  col_51    1500 non-null   float64
 51  col_52    1500 non-null   int64
 52  col_53    1500 non-null   float64
 53  col_54    1500 non-null   int64
 54  col_55    1500 non-null   float64
 55  col_56    1500 non-null   int64
 56  col_57    1431 non-null   float64
 57  col_58    1500 non-null   int64
 58  col_59    1500 non-null   float64
 59  col_60    1500 non-null   int64
 60  col_61    1381 non-null   float64
 61  col_62    1500 non-null   int64
 62  col_63    1364 non-null   float64
 63  col_64    1500 non-null   int64
 64  col_65    1500 non-null   float64
 65  col_66    1500 non-null   int64
 66  col_67    1500 non-null   float64
 67  col_68    1500 non-null   int64
 68  col_69    1500 non-null   float64
 69  col_70    1500 non-null   int64
dtypes: float64(34), int64(30), object(6)
memory usage: 820.4+ KB

## 1. Load csv file and display first 10 rows.

In [9]:
# Since we have already loaded the dataset, we will display the first 10 rows.

df.head(10)

,id,name,region,product,category,sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70
0,ID_1,Name_41,West,Product_12,Food,9198.42,96,2024-04-21,10316.70,6987.90,4.37,326,711.37,411,395.83,431,206.26,296,757.41,167,NaN,184,173.50,312,18.86,167,110.17,322,87.68,10,604.89,180,194.96,50,687.81,126,816.28,382,468.33,413,693.96,417,232.84,52.0,77.31,175,685.76,435,792.65,121,180.89,443,110.20,425,377.91,188,619.14,276,664.96,145,80.20,173,36.99,285,859.86,410,87.24,194,538.93,252
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2023-04-23,9501.19,6113.22,3.49,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177
2,ID_3,Name_2,North,Product_15,Clothing,9046.39,31,2022-01-22,NaN,7992.03,1.11,304,373.02,191,440.35,480,536.43,120,922.83,481,344.13,51,181.93,105,390.96,348,48.07,351,953.97,126,222.52,340,151.36,276,347.86,334,975.16,109,189.03,17,249.01,33,133.07,174.0,46.24,152,176.45,52,851.88,294,388.97,222,821.76,91,313.45,227,264.80,145,869.45,4,714.42,172,706.28,88,297.11,161,396.00,311,769.80,12
3,ID_4,Name_48,South,Product_4,Food,4689.43,55,2024-07-17,5621.50,4206.08,1.10,22,2.74,328,930.31,107,533.22,17,194.62,34,803.80,423,12.79,211,580.28,324,643.22,170,238.61,349,910.59,417,147.84,298,961.54,98,425.73,392,735.93,335,979.74,228,579.76,NaN,175.91,357,939.44,414,906.28,134,238.93,56,206.60,390,581.83,478,737.95,96,881.26,306,741.32,140,640.95,286,475.11,41,547.57,450,789.10,493
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2024-02-26,9487.01,4717.43,1.11,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250
5,ID_6,Name_16,North,Product_7,Food,995.36,19,2024-08-08,921.99,894.95,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188
6,ID_7,Name_15,East,Product_19,Food,5056.51,14,2024-05-26,5043.52,3803.15,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15
7,ID_8,Name_9,South,Product_12,Clothing,1879.74,23,2022-07-27,1911.91,1491.73,1.58,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440
8,ID_9,Name_48,North,Product_20,Accessories,5895.93,28,2023-11-27,8370.32,4219.05,2.63,164,332.52,119,340.28,461,290.02,428,594.86,274,627.52,129,954.62,199,331.29,100,668.17,74,161.97,347,580.35,122,235.54,8,912.59,307,452.10,309,455.52,298,231.54,342,596.83,346.0,872.37,213,583.70,474,939.07,151,502.36,81,227.35,425,760.73,263,244.84,150,685.04,387,359.96,91,782.43,24,865.89,298,659.42,288,567.36,388
9,ID_10,Name_7,West,Product_14,Accessories,8953.85,36,2022-02-23,12286.92,4911.16,3.16,180,658.67,38,261.22,469,9.88,218,630.21,212,465.47,163,399.14,247,27.47,133,645.07,370,240.74,466,929.80,132,950.52,147,553.60,171,968.86,466,507.60,78,702.39,106,30.48,NaN,509.48,91,444.71,243,333.58,272,61.54,80,89.23,10,201.89,437,476.84,300,109.77,164,285.97,472,780.94,86,813.51,209,856.22,145,697.21,450

## 2. Filter the rows in a DataFrame where the column sales is greater than 1000.

In [11]:
greater_sales = df[df['sales'] > 1000]
greater_sales

,id,name,region,product,category,sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70
0,ID_1,Name_41,West,Product_12,Food,9198.42,96,2024-04-21,10316.70,6987.90,4.37,326,711.37,411,395.83,431,206.26,296,757.41,167,NaN,184,173.50,312,18.86,167,110.17,322,87.68,10,604.89,180,194.96,50,687.81,126,816.28,382,468.33,413,693.96,417,232.84,52.0,77.31,175,685.76,435,792.65,121,180.89,443,110.20,425,377.91,188,619.14,276,664.96,145,80.20,173,36.99,285,859.86,410,87.24,194,538.93,252
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2023-04-23,9501.19,6113.22,3.49,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177
2,ID_3,Name_2,North,Product_15,Clothing,9046.39,31,2022-01-22,NaN,7992.03,1.11,304,373.02,191,440.35,480,536.43,120,922.83,481,344.13,51,181.93,105,390.96,348,48.07,351,953.97,126,222.52,340,151.36,276,347.86,334,975.16,109,189.03,17,249.01,33,133.07,174.0,46.24,152,176.45,52,851.88,294,388.97,222,821.76,91,313.45,227,264.80,145,869.45,4,714.42,172,706.28,88,297.11,161,396.00,311,769.80,12
3,ID_4,Name_48,South,Product_4,Food,4689.43,55,2024-07-17,5621.50,4206.08,1.10,22,2.74,328,930.31,107,533.22,17,194.62,34,803.80,423,12.79,211,580.28,324,643.22,170,238.61,349,910.59,417,147.84,298,961.54,98,425.73,392,735.93,335,979.74,228,579.76,NaN,175.91,357,939.44,414,906.28,134,238.93,56,206.60,390,581.83,478,737.95,96,881.26,306,741.32,140,640.95,286,475.11,41,547.57,450,789.10,493
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2024-02-26,9487.01,4717.43,1.11,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,ID_1496,Name_24,South,Product_14,Furniture,6038.23,38,2022-10-31,6431.85,4918.88,2.37,20,332.29,469,963.83,235,616.79,320,696.71,319,NaN,195,628.81,143,530.38,163,271.41,255,966.97,341,620.35,343,773.96,408,484.74,258,286.64,328,213.42,179,719.39,121,792.30,464.0,771.03,343,731.98,192,20.92,165,754.71,165,647.87,56,949.65,102,221.71,132,1.48,419,698.79,240,969.96,87,414.64,442,364.16,411,687.93,176
1496,ID_1497,Name_44,East,Product_18,Clothing,7754.59,49,2024-09-08,9366.62,3970.29,2.50,395,136.13,128,534.77,266,543.20,62,480.42,416,121.51,23,569.69,466,535.08,252,395.94,457,271.84,93,390.78,14,214.91,254,373.26,169,118.27,374,502.66,150,489.50,246,100.46,232.0,718.42,86,775.63,499,698.15,460,191.84,174,67.67,251,393.52,57,358.12,172,616.09,204,925.71,272,NaN,290,184.04,143,428.47,300,960.72,281
1497,ID_1498,Name_48,North,Product_18,Furniture,3202.76,52,2022-07-11,4035.29,1862.82,2.22,5,851.01,358,475.15,484,114.02,234,243.21,461,542.00,148,103.24,130,658.12,345,NaN,419,250.58,347,908.05,446,572.24,222,495.36,207,699.15,70,875.30,466,31.95,279,58.85,256.0,372.20,344,509.25,293,NaN,362,225.12,173,364.05,161,177.70,80,389.93,438,398.75,224,NaN,366,865.24,219,28.07,295,500.56,392,580.21,243
1498,ID_1499,Name_44,West,Product_13,Food,8340.11,13,2024-10-12,7548.24,5516.66,3.48,324,882.49,500,544.70,323,268.20,30,312.02,74,233.27,283,255.30,33,874.75,48,749.88,112,894.13,9,320.27,460,652.13,8,798.77,96,371.88,358,57.35,400,220.88,500,177.76,NaN,232.45,85,149.73,240,570.87,339,454.52,405,79.03,425,499.60,33,580.99,37,52.35,63,307.81,257,368.68,81,426.46,425,452.13,358,304.62,436
1499,ID_1500,Name_17,East,Product_3,Accessories,7398.64,80,2023-01-07,9868.52,4803.74,4.68,185,42.87,298,352.42,176,552.49,326,582.30,117,598.23,15,976.94,483,942.30,87,784.12,37,254.82,323,795.54,224,27.48,42,750.20,110,328.94,450,103.83,232,94.97,252,603.94,191.0,760.17,110,672.25,276,380.95,331,738.68,16,858.03,224,247.99,398,941.61,352,428.71,80,409.54,162,925.63,183,141.57,214,174.95,89,380.95,310

## 3. Select only columns 'name' and 'sales'

In [13]:
name_and_sales = df[['name','sales']]
name_and_sales

         name    sales
0     Name_41  9198.42
1      Name_8  6930.53
2      Name_2  9046.39
3     Name_48  4689.43
4     Name_18  6496.40
...       ...      ...
1495  Name_24  6038.23
1496  Name_44  7754.59
1497  Name_48  3202.76
1498  Name_44  8340.11
1499  Name_17  7398.64

[1500 rows x 2 columns]

## 4. Sort a DataFrame by the column date in ascending order

In [15]:
df['date'] = sorted(df['date'])
df.head()

,id,name,region,product,category,sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70
0,ID_1,Name_41,West,Product_12,Food,9198.42,96,2022-01-01,10316.70,6987.90,4.37,326,711.37,411,395.83,431,206.26,296,757.41,167,NaN,184,173.50,312,18.86,167,110.17,322,87.68,10,604.89,180,194.96,50,687.81,126,816.28,382,468.33,413,693.96,417,232.84,52.0,77.31,175,685.76,435,792.65,121,180.89,443,110.20,425,377.91,188,619.14,276,664.96,145,80.20,173,36.99,285,859.86,410,87.24,194,538.93,252
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,3.49,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177
2,ID_3,Name_2,North,Product_15,Clothing,9046.39,31,2022-01-03,NaN,7992.03,1.11,304,373.02,191,440.35,480,536.43,120,922.83,481,344.13,51,181.93,105,390.96,348,48.07,351,953.97,126,222.52,340,151.36,276,347.86,334,975.16,109,189.03,17,249.01,33,133.07,174.0,46.24,152,176.45,52,851.88,294,388.97,222,821.76,91,313.45,227,264.80,145,869.45,4,714.42,172,706.28,88,297.11,161,396.00,311,769.80,12
3,ID_4,Name_48,South,Product_4,Food,4689.43,55,2022-01-04,5621.50,4206.08,1.10,22,2.74,328,930.31,107,533.22,17,194.62,34,803.80,423,12.79,211,580.28,324,643.22,170,238.61,349,910.59,417,147.84,298,961.54,98,425.73,392,735.93,335,979.74,228,579.76,NaN,175.91,357,939.44,414,906.28,134,238.93,56,206.60,390,581.83,478,737.95,96,881.26,306,741.32,140,640.95,286,475.11,41,547.57,450,789.10,493
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2022-01-04,9487.01,4717.43,1.11,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250

## 5. Add a new column called profit which is the difference between the columns revenue and cost

In [17]:
df['profit'] = df['revenue'] - df['cost']

In [18]:
df.head()

,id,name,region,product,category,sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit
0,ID_1,Name_41,West,Product_12,Food,9198.42,96,2022-01-01,10316.70,6987.90,4.37,326,711.37,411,395.83,431,206.26,296,757.41,167,NaN,184,173.50,312,18.86,167,110.17,322,87.68,10,604.89,180,194.96,50,687.81,126,816.28,382,468.33,413,693.96,417,232.84,52.0,77.31,175,685.76,435,792.65,121,180.89,443,110.20,425,377.91,188,619.14,276,664.96,145,80.20,173,36.99,285,859.86,410,87.24,194,538.93,252,3328.80
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,3.49,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97
2,ID_3,Name_2,North,Product_15,Clothing,9046.39,31,2022-01-03,NaN,7992.03,1.11,304,373.02,191,440.35,480,536.43,120,922.83,481,344.13,51,181.93,105,390.96,348,48.07,351,953.97,126,222.52,340,151.36,276,347.86,334,975.16,109,189.03,17,249.01,33,133.07,174.0,46.24,152,176.45,52,851.88,294,388.97,222,821.76,91,313.45,227,264.80,145,869.45,4,714.42,172,706.28,88,297.11,161,396.00,311,769.80,12,NaN
3,ID_4,Name_48,South,Product_4,Food,4689.43,55,2022-01-04,5621.50,4206.08,1.10,22,2.74,328,930.31,107,533.22,17,194.62,34,803.80,423,12.79,211,580.28,324,643.22,170,238.61,349,910.59,417,147.84,298,961.54,98,425.73,392,735.93,335,979.74,228,579.76,NaN,175.91,357,939.44,414,906.28,134,238.93,56,206.60,390,581.83,478,737.95,96,881.26,306,741.32,140,640.95,286,475.11,41,547.57,450,789.10,493,1415.42
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2022-01-04,9487.01,4717.43,1.11,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,4769.58

## 6. Rename the column sales to total_sales

In [20]:
# Renaming the column sales to total_sales

df.rename(mapper={'sales':'total_sales'},axis=1, inplace=True)

In [21]:
df.head()

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit
0,ID_1,Name_41,West,Product_12,Food,9198.42,96,2022-01-01,10316.70,6987.90,4.37,326,711.37,411,395.83,431,206.26,296,757.41,167,NaN,184,173.50,312,18.86,167,110.17,322,87.68,10,604.89,180,194.96,50,687.81,126,816.28,382,468.33,413,693.96,417,232.84,52.0,77.31,175,685.76,435,792.65,121,180.89,443,110.20,425,377.91,188,619.14,276,664.96,145,80.20,173,36.99,285,859.86,410,87.24,194,538.93,252,3328.80
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,3.49,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97
2,ID_3,Name_2,North,Product_15,Clothing,9046.39,31,2022-01-03,NaN,7992.03,1.11,304,373.02,191,440.35,480,536.43,120,922.83,481,344.13,51,181.93,105,390.96,348,48.07,351,953.97,126,222.52,340,151.36,276,347.86,334,975.16,109,189.03,17,249.01,33,133.07,174.0,46.24,152,176.45,52,851.88,294,388.97,222,821.76,91,313.45,227,264.80,145,869.45,4,714.42,172,706.28,88,297.11,161,396.00,311,769.80,12,NaN
3,ID_4,Name_48,South,Product_4,Food,4689.43,55,2022-01-04,5621.50,4206.08,1.10,22,2.74,328,930.31,107,533.22,17,194.62,34,803.80,423,12.79,211,580.28,324,643.22,170,238.61,349,910.59,417,147.84,298,961.54,98,425.73,392,735.93,335,979.74,228,579.76,NaN,175.91,357,939.44,414,906.28,134,238.93,56,206.60,390,581.83,478,737.95,96,881.26,306,741.32,140,640.95,286,475.11,41,547.57,450,789.10,493,1415.42
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2022-01-04,9487.01,4717.43,1.11,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,4769.58

## 7. Drop all rows with missing values in any column of the DataFrame

In [23]:
df = df.dropna()
df

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,3.49,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2022-01-04,9487.01,4717.43,1.11,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,4769.58
5,ID_6,Name_16,North,Product_7,Food,995.36,19,2022-01-05,921.99,894.95,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,27.04
6,ID_7,Name_15,East,Product_19,Food,5056.51,14,2022-01-07,5043.52,3803.15,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,1240.37
7,ID_8,Name_9,South,Product_12,Clothing,1879.74,23,2022-01-07,1911.91,1491.73,1.58,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,420.18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1486,ID_1487,Name_36,North,Product_3,Furniture,5752.64,79,2024-12-26,6982.90,4770.67,4.31,310,712.68,485,79.90,259,464.79,68,440.81,189,831.47,477,724.43,347,907.10,470,418.60,226,513.20,333,335.46,189,244.90,129,518.70,288,249.33,450,540.74,139,400.31,252,776.35,170.0,684.06,131,915.35,311,761.48,294,697.74,100,359.42,161,647.94,212,880.51,159,89.44,173,527.45,304,843.68,285,876.23,64,421.37,285,187.34,21,2212.23
1490,ID_1491,Name_1,North,Product_6,Food,5846.16,14,2024-12-28,7606.07,3277.08,1.48,465,958.01,316,652.03,211,120.69,272,51.77,159,904.60,486,768.65,106,726.78,426,296.80,298,738.82,335,988.83,354,685.18,402,974.36,66,584.97,36,984.48,36,746.34,309,805.91,5.0,399.06,332,258.24,330,543.17,171,454.34,291,429.34,44,785.50,187,173.20,187,474.68,169,964.42,483,597.92,235,399.28,391,714.73,468,13.51,121,4328.99
1492,ID_1493,Name_35,South,Product_3,Furniture,5300.08,8,2024-12-29,7146.77,4067.64,3.65,370,967.63,276,28.32,125,422.93,431,373.98,373,703.22,205,952.30,1,743.74,483,108.27,126,521.78,443,981.08,166,492.89,166,730.63,281,975.78,393,471.17,336,817.14,364,190.07,393.0,17.07,139,485.76,7,684.86,178,202.14,350,205.39,262,55.56,223,101.30,99,404.63,325,870.23,474,500.53,202,671.51,302,112.80,281,467.03,157,3079.13
1493,ID_1494,Name_8,West,Product_17,Food,5014.87,72,2024-12-30,6514.26,3239.74,1.04,93,812.42,317,959.14,148,57.21,9,51.60,231,182.20,9,520.43,131,802.92,38,528.01,388,470.88,221,44.80,285,77.17,20,14.71,229,286.16,88,866.46,349,158.12,324,684.63,276.0,453.16,278,580.01,252,139.37,4,516.16,234,518.35,234,740.68,15,521.07,198,972.80,288,724.57,68,626.92,299,964.93,113,861.49,394,538.34,83,3274.52
1499,ID_1500,Name_17,East,Product_3,Accessories,7398.64,80,2025-01-01,9868.52,4803.74,4.68,185,42.87,298,352.42,176,552.49,326,582.30,117,598.23,15,976.94,483,942.30,87,784.12,37,254.82,323,795.54,224,27.48,42,750.20,110,328.94,450,103.83,232,94.97,252,603.94,191.0,760.17,110,672.25,276,380.95,331,738.68,16,858.03,224,247.99,398,941.61,352,428.71,80,409.54,162,925.63,183,141.57,214,174.95,89,380.95,310,5064.78

In [24]:
# This is to check whether the dataframe is null or not.
#If it is null, the specific column will give the output more than 0.

df.isnull().sum()

id          0
name        0
region      0
product     0
category    0
           ..
col_67      0
col_68      0
col_69      0
col_70      0
profit      0
Length: 71, dtype: int64

## 8. Find the number of unique values in the column region

In [26]:
df.head()

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,3.49,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2022-01-04,9487.01,4717.43,1.11,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,4769.58
5,ID_6,Name_16,North,Product_7,Food,995.36,19,2022-01-05,921.99,894.95,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,27.04
6,ID_7,Name_15,East,Product_19,Food,5056.51,14,2022-01-07,5043.52,3803.15,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,1240.37
7,ID_8,Name_9,South,Product_12,Clothing,1879.74,23,2022-01-07,1911.91,1491.73,1.58,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,420.18

In [27]:
# Below is the code to find the no. of unique values in the region column
df['region'].nunique()

4

## 9. Group the DataFrame by the column category and calculate the sum of sales for each group

In [29]:
# Below is the code to group the category and the sum of sales for each group.
group_sales = df.groupby('category')['total_sales'].sum()
group_sales

category
Accessories    837910.30
Clothing       735953.52
Electronics    692415.92
Food           723636.15
Furniture      676826.92
Name: total_sales, dtype: float64

## 10. Create a DataFrame from a dictionary of lists

In [31]:
# Let's create a data argument of DataFrame using dict and index using the split().
dat = pd.DataFrame(
    {
    'S.No':list(range(1, 7)),
    'Name':'Arun Kumar Shanmuga Priya Mithran Tharika'.split(),
    'Age': [35, 30, 8, 3, 35, 30]
    },index='Fa ther Mo ther Fkid Skid'.split()
)
dat

      S.No      Name  Age
Fa       1      Arun   35
ther     2     Kumar   30
Mo       3  Shanmuga    8
ther     4     Priya    3
Fkid     5   Mithran   35
Skid     6   Tharika   30

In [32]:
# Let's create a dataframe using random numerical values of numpy library.
# This is just another way of creation of dataframe.

from numpy.random import randn
data = pd.DataFrame(randn(40,9), list(range(0,40)), 'fan_id table_id board_id door_id cloth_id book_id bag_id doll_id light_id '.split())
data.iloc[1, 8] = np.nan  # Missing value in row 1, column 8
data.iloc[2, 1] = np.nan  # Missing value in row 2, column 1
data.iloc[3, 6] = np.nan  # Missing value in row 3, column 6
data.iloc[5, 3] = np.nan  # Missing value in row 5, column 3
data.iloc[10, 6] = np.nan  # Missing value in row 10, column 6
data.iloc[11:13, 4] = np.nan  # Missing value in row 10, column 6
data.iloc[20:22, 1] = np.nan  # Missing values in rows 20-21, column 1
data.iloc[30, [2, 4]] = np.nan  # Missing values in row 30, columns 2 and 4

In [33]:
data.head(20)

,fan_id,table_id,board_id,door_id,cloth_id,book_id,bag_id,doll_id,light_id
0,-0.198041,0.983210,0.343357,0.873239,1.412006,0.412939,1.777955,1.172862,0.603329
1,0.499106,0.859043,1.302655,0.638702,-1.861433,-0.392833,-1.237860,-0.078269,NaN
2,0.583424,NaN,-1.339288,-1.424336,0.933319,-0.499844,-0.985079,-0.134118,-1.118695
3,-0.132760,-0.542812,-0.058752,0.464477,1.259569,0.371831,NaN,0.876396,1.629399
4,0.633921,-1.957882,1.157684,-0.133394,1.985012,1.233078,1.516252,1.203633,-1.953626
5,-1.286479,1.038511,0.322563,NaN,-1.164571,-0.823765,-0.225103,1.954566,0.628027
6,0.524400,0.291573,-1.347495,0.288280,1.417853,0.237470,-0.556213,-1.529604,1.298952
7,0.425667,0.120947,0.011773,0.042123,-0.351223,0.848916,-0.567674,-0.214194,-1.087552
8,0.337194,0.757933,0.207628,-0.068237,-0.535009,0.598312,-0.467320,-0.865594,-0.237971
9,-1.714275,-0.979737,-1.347362,0.023567,0.369415,1.094148,1.238440,-1.763896,-0.548033
10,0.338621,1.167479,0.144416,1.486083,0.430166,1.095430,NaN,0.226063,-0.912369
11,-0.475886,0.297003,0.054626,-0.276296,NaN,-0.857251,0.822665,-0.114949,0.051114
12,-1.075486,-0.363177,0.913958,-0.697057,NaN,-1.084187,1.058910,-0.098201,-0.507087
13,1.269500,0.139269,0.238454,2.864364,-0.236606,0.541824,-0.887957,1.172131,1.125447
14,1.334682,-2.060702,-2.027745,1.382236,-0.021958,-0.303970,-0.023974,0.747805,2.176925
15,1.124579,0.289592,0.042539,1.328012,1.837153,0.885906,-0.413701,-1.047505,-0.980544
16,-1.320234,1.207947,1.354538,-0.633017,-0.397038,0.262379,-1.075348,-1.013599,-0.977433
17,-0.963736,-0.418964,2.956340,0.964166,0.701580,1.485082,1.906604,1.303456,0.462136
18,-1.166948,-1.188243,-0.608309,2.407845,0.716204,-1.634170,-0.593974,0.561712,-0.374917
19,0.846084,-0.531839,-1.805343,-0.923434,0.052716,-0.413433,-0.736673,-2.171205,1.174647

## 11. Check if there are any missing values in a DataFrame

In [35]:
# Let's check if there is any missing values in dataframe. We can do this in 2 ways.
# First way which is straight forward.

data.isnull().sum()

fan_id      0
table_id    3
board_id    1
door_id     1
cloth_id    3
book_id     0
bag_id      2
doll_id     0
light_id    1
dtype: int64

In [36]:
# Check the total missing values in a dataframe.
len(data.isnull().sum())

9

In [37]:
# Second method to check the null values of a dataframe using list comprehension
nan_feature = [feature for feature in data.columns if data[feature].isnull().sum() > 1]
for feature in nan_feature:
    print(f'{feature}: {np.round(data[feature].isnull().mean(), 4)} % of null values')
    #print(f'{feature} {np.round(df[feature]).isnull().mean(), 4} : % of features')

table_id: 0.075 % of null values
cloth_id: 0.075 % of null values
bag_id: 0.05 % of null values

In [38]:
nan_feature

['table_id', 'cloth_id', 'bag_id']

## 12. Replace all occurrences of the value -1 in the column rating with NaN

In [40]:
# Since we don't have -1 in rating column we will replace few values listed below with -1.
df.replace([1.11, 1.58, 3.49, 4.05, 3.89, 1.27], [-1, -1, -1, -1, -1, -1], inplace=True)
df.head(50)

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,-1.00,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2022-01-04,9487.01,4717.43,-1.00,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,4769.58
5,ID_6,Name_16,North,Product_7,Food,995.36,19,2022-01-05,921.99,894.95,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,27.04
6,ID_7,Name_15,East,Product_19,Food,5056.51,14,2022-01-07,5043.52,3803.15,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,1240.37
7,ID_8,Name_9,South,Product_12,Clothing,1879.74,23,2022-01-07,1911.91,1491.73,-1.00,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,420.18
8,ID_9,Name_48,North,Product_20,Accessories,5895.93,28,2022-01-08,8370.32,4219.05,2.63,164,332.52,119,340.28,461,290.02,428,594.86,274,627.52,129,954.62,199,331.29,100,668.17,74,161.97,347,580.35,122,235.54,8,912.59,307,452.10,309,455.52,298,231.54,342,596.83,346.0,872.37,213,583.70,474,939.07,151,502.36,81,227.35,425,760.73,263,244.84,150,685.04,387,359.96,91,782.43,24,865.89,298,659.42,288,567.36,388,4151.27
10,ID_11,Name_44,East,Product_6,Furniture,5509.43,57,2022-01-09,7058.44,4690.68,-1.00,16,736.55,491,313.56,358,604.93,490,183.88,88,781.84,120,979.73,135,329.20,16,230.02,18,816.41,319,485.52,16,543.17,471,179.02,334,25.33,172,11.57,484,967.84,187,196.97,175.0,286.93,487,45.40,490,301.15,281,552.78,149,766.76,133,61.00,374,271.83,30,376.99,247,947.51,113,835.32,385,933.99,58,727.73,79,94.83,138,2367.76
11,ID_12,Name_48,West,Product_20,Accessories,3991.36,53,2022-01-10,3717.93,3270.05,-1.00,131,504.98,122,659.91,355,662.88,297,253.08,324,768.38,49,966.04,289,655.89,400,679.55,156,732.00,185,976.44,360,438.83,190,283.95,489,416.01,333,3.04,107,143.89,286,208.61,351.0,160.76,431,707.21,110,260.76,37,947.18,334,725.16,463,467.69,236,342.61,303,473.24,226,844.32,358,692.26,167,675.33,437,851.29,263,240.40,207,447.88
13,ID_14,Name_6,South,Product_7,Electronics,346.63,76,2022-01-11,380.76,264.71,1.40,243,889.59,330,613.70,104,394.50,107,680.47,484,376.84,200,579.57,484,299.32,310,926.17,439,971.08,267,498.67,446,103.87,67,456.55,387,611.22,437,134.75,114,474.88,211,594.26,430.0,256.59,379,400.02,174,903.33,137,235.41,42,486.82,362,553.55,50,183.11,487,825.82,432,892.37,276,879.59,128,592.18,73,498.58,42,350.19,37,116.05
14,ID_15,Name_38,North,Product_7,Food,4591.44,8,2022-01-12,5135.60,3251.36,2.39,441,993.63,450,722.38,60,9.91,300,875.04,410,441.09,112,257.18,223,580.11,294,195.67,397,888.62,491,457.69,242,726.20,24,102.65,213,650.16,34,960.64,187,345.00,73,837.72,51.0,531.94,285,146.71,328,972.46,204,312.84,35,288.72,402,684.91,45,363.96,442,103.94,367,335.90,215,105.36,121,624.41,236,472.44,263,347.61,364,1884.24
15,ID_16,Name_28,North,Product_2,Furniture,8976.51,63,2022-01-13,11234.85,5626.26,1.89,409,612.46,423,679.52,309,964.85,439,899.99,8,287.94,398,83.43,195,412.87,44,182.11,335,673.33,219,463.78,116,193.89,245,625.13,468,331.82,268,503.32,474,75.30,457,616.80,283.0,422.21,452,915.80,334,892.49,4,355.44,128,941.62,36,328.94,44,568.15,103,359.53,333,968.48,39,227.61,135,351.68,376,265.84,89,192.44,69,5608.59
17,ID_18,Name_2,West,Product_12,Accessories,8837.23,48,2022-01-14,11550.39,6452.04,-1.00,386,434.94,424,687.45,323,887.63,92,10.95,409,12.85,309,728.68,264,515.72,350,874.82,34,234.88,363,416.04,443,598.63,413,482.22,162,240.18,303,633.05,85,607.20,427,541.18,270.0,219.24,174,643.17,82,514.78,345,237.18,134,96.60,293,444.92,111,499.37,131,11.18,149,183.69,157,825.43,36,268.00,150,798.50,491,448.56,346,5098.35
21,ID_22,Name_33,South,Product_18,Food,7143.55,70,2022-01-15,6213.54,6364.83,4.59,217,719.11,445,381.49,159,39.08,93,142.60,234,352.74,396,259.59,191,6.07,17,135.66,279,243.45,45,348.59,395,526.25,425,92.34,298,359.73,102,191.00,253,674.88,64,662.67,424.0,140.33,398,944.96,479,533.29,134,362.79,283,20.25,223,594.93,314,470.31,393,466.35,300,538.69,157,806.77,396,610.11,171,912.64,187,830.72,56,-151.29
22,ID_23,Name_39,West,Product_6,Furniture,1723.54,55,2022-01-15,1842.11,1020.95,2.76,353,547.12,163,694.77,97,400.21,383,162.31,50,677.68,411,35.28,36,818.12,279,429.19,259,417.48,118,330.82,345,309.80,139,726.13,197,474.52,274,761.97,172,767.10,173,433.92,484.0,984.38,261,855.44,116,97.47,357,634.47,422,145.27,336,178.72,93,274.83,300,380.73,380,948.13,64,614.50,59,300.32,423,852.40,345,541.97,144,821.16
23,ID_24,Name_2,West,Product_11,Electronics,7359.30,61,2022-01-16,6454.29,4606.38,4.43,301,538.79,36,351.26,16,552.88,212,876.91,24,699.30,241,900.58,445,654.20,59,150.64,17,547.14,342,885.63,29,737.52,230,798.38,315,74.45,331,993.37,23,138.44,45,534.61,28.0,544.76,133,80.69,44,394.15,228,676.55,478,894.35,169,609.21,161,670.80,397,682.27,79,505.74,116,280.15,491,56.23,247,80.38,148,629.08,42,1847.91
24,ID_25,Name_36,East,Product_10,Furniture,1002.79,88,2022-01-17,811.74,891.44,4.24,318,755.77,107,70.38,489,901.73,493,214.95,315,104.41,307,329.23,288,964.32,36,115.02,399,372.22,154,208.03,418,266.08,499,176.88,154,412.88,226,454.41,139,894.98,174,898.26,49.0,664.01,278,259.96,390,232.99,155,124.48,54,826.22,459,648.17,288,293.60,81,351.67,201,14.13,327,629.96,1,247.09,413,318.04,298,491.11,40,-79.70
28,ID_29,Name_45,North,Product_17,Electronics,7102.06,47,2022-01-19,9510.24,4715.56,2.03,498,627.04,247,832.52,403,833.56,8,156.21,269,969.20,378,514.82,458,98.72,355,554.97,311,67.72,288,805.92,197,684.45,153,258.94,164,415.21,336,791.45,411,950.77,160,444.28,68.0,434.67,122,131.23,201,684.13,291,20.57,282,319.86,412,90.09,164,715.97,469,886.06,146,351.76,80,151.09,38,620.92,159,679.46,39,303.85,412,4794.68
29,ID_30,Name_35,West,Product_4,Accessories,7296.05,61,2022-01-19,7203.82,3880.59,2.29,351,791.84,18,537.82,297,358.57,49,222.83,164,711.50,173,492.14,52,718.84,405,687.52,114,153.07,500,695.81,225,896.87,221,10.67,87,931.49,316,385.34,16,782.20,113,773.80,98.0,889.41,122,478.08,353,535.38,354,629.69,290,870.17,303,610.81,209,508.25,158,56.68,80,272.75,410,83.71,115,50.20,320,486.94,380,998.74,455,3323.23
33,ID_34,Name_38,East,Product_9,Furniture,5548.42,3,2022-01-20,4475.23,3848.73,1.39,20,914.11,325,314.39,120,539.62,348,266.26,170,648.10,24,380.92,182,331.42,386,845.82,397,447.74,336,107.88,166,122.90,245,158.44,315,832.79,144,82.35,323,717.92,281,228.92,128.0,538.06,78,908.13,230,818.41,107,299.15,197,83.74,100,474.26,149,285.70,108,51.48,178,166.02,33,76.03,211,932.54,286,717.56,116,90.94,354,626.50
35,ID_36,Name_1,West,Product_5,Electronics,1791.76,78,2022-01-21,2113.67,1459.43,4.32,250,230.95,285,709.36,75,874.93,138,822.92,233,66.90,301,982.54,24,244.54,485,703.89,371,261.79,445,381.82,336,353.42,76,745.32,346,85.62,92,917.05,136,213.07,36,75.24,173.0,422.83,177,637.01,136,122.04,160,102.62,277,956.83,228,43.63,115,115.42,129,921.02,144,802.27,365,540.45,324,879.54,353,252.53,269,417.28,366,654.24
37,ID_38,Name_11,South,Product_5,Clothing,8725.92,95,2022-01-22,12189.27,7252.36,1.50,464,590.89,94,514.67,82,329.88,425,58.80,28,575.50,357,623.44,343,660.66,124,570.72,115,424.61,279,315.13,167,526.34,451,534.74,422,272.36,269,967.16,282,444.64,478,983.30,403.0,762.05,421,802.14,423,348.69,409,345.83,113,706.29,3,22.27,106,572.17,465,287.88,419,719.81,44,700.75,294,947.90,85,861.87,8,489.54,175,4936.91
38,ID_39,Name_45,East,Product_11,Food,8640.46,85,2022-01-22,7426.26,7730.60,3.06,45,449.27,350,259.91,62,305.12,40,610.04,209,553.77,339,237.65,312,979.62,141,404.56,214,550.15,127,205.42,120,49.12,405,196.28,1,221.43,481,733.50,349,970.19,36,45.41,304.0,602.51,361,772.27,135,294.22,58,752.35,168,916.78,456,624.96,84,124.81,10,294.34,286,304.60,326,542.22,477,217.45,224,145.79,52,266.40,23,-304.34
40,ID_41,Name_22,East,Product_13,Electronics,1531.61,89,2022-01-23,2039.75,915.87,1.57,130,652.05,146,55.81,36,551.07,217,448.86,281,648.00,186,659.00,188,324.38,271,966.89,392,641.53,15,537.36,326,316.09,165,463.87,495,481.66,341,381.36,205,216.40,166,437.85,204.0,545.53,479,175.11,420,434.79,498,628.06,326,514.34,478,131.63,275,433.90,190,802.31,441,570.95,500,49.30,77,777.23,347,180.26,49,244.28,256,1123.88
41,ID_42,Name_18,East,Product_16,Electronics,7714.65,86,2022-01-23,10990.86,6663.19,3.64,279,38.71,156,485.51,181,618.85,280,131.86,334,476.79,452,52.47,421,837.45,322,359.31,122,632.34,63,731.58,92,740.03,32,972.99,483,495.97,98,842.66,282,761.02,487,907.38,261.0,138.60,301,343.24,230,519.77,240,833.83,90,548.02,214,363.58,57,57.21,158,502.62,339,197.63,56,407.17,471,779.54,142,152.02,491,251.78,429,4327.67
43,ID_44,Name_14,West,Product_19,Accessories,3149.82,33,2022-01-25,3197.60,2413.90,3.87,43,904.38,436,594.12,13,261.91,445,242.28,2,662.18,297,885.05,107,456.03,288,89.05,162,64.23,297,691.15,81,941.96,218,54.39,456,562.86,453,881.61,210,52.47,453,787.32,262.0,911.53,130,452.44,224,760.91,189,287.71,123,966.32,449,123.29,382,11.96,336,482.29,55,431.38,63,787.78,448,842.21,327,418.31,289,637.13,42,783.70
45,ID_46,Name_22,South,Product_14,Electronics,9613.56,50,2022-01-26,9331.56,7867.18,3.46,371,265.37,269,301.13,179,994.84,231,844.46,443,624.95,238,591.58,128,304.16,97,48.95,363,573.94,98,946.20,498,747.17,169,576.23,389,276.57,332,863.47,143,299.95,111,227.67,8.0,879.26,488,491.62,270,908.67,220,359.49,105,290.38,475,492.44,478,766.19,490,622.06,158,143.10,13,341.95,314,210.41,115,296.76,459,226.40,158,1464.38
46,ID_47,Name_7,North,Product_13,Electronics,2958.93,40,2022-01-26,3492.92,1883.74,2.00,426,530.74,316,135.89,249,553.33,238,891.40,220,155.88,70,884.72,475,349.84,447,217.15,396,861.88,138,82.24,334,338.42,428,170.58,391,339.20,78,951.11,433,389.20,179,33.00,50.0,149.26,267,515.11,470,827.33,435,906.78,435,18.51,155,544.99,198,751.79,467,793.28,136,311.09,177,832.56,478,89.51,226,497.86,132,947.27,208,1609.18
49,ID_50,Name_7,South,Product_3,Furniture,9608.30,47,2022-01-28,7829.28,6745.13,2.20,473,449.25,301,178.93,140,14.57,389,222.31,337,390.79,469,868.14,258,699.44,243,404.95,155,128.36,300,69.83,442,529.78,339,584.00,197,972.96,316,87.44,479,171.27,343,42.90,493.0,501.41,33,524.66,68,957.31,426,620.23,333,419.51,106,134.45,216,908.23,200,75.38,493,431.80,155,24.39,1,240.26,189,479.07,149,283.58,57,1084.15
50,ID_51,Name_23,North,Product_13,Electronics,134.98,88,2022-01-28,112.19,75.50,3.84,49,396.98,318,293.32,145,925.45,10,764.10,102,626.06,374,556.01,25,713.11,417,274.09,100,20.60,35,973.80,211,108.87,311,267.61,391,928.82,342,964.27,366,962.85,263,424.47,25.0,613.44,194,783.29,2,166.83,493,410.81,487,874.83,302,866.32,257,734.74,6,844.67,39,320.97,373,723.89,380,582.25,242,561.96,207,216.14,51,36.69
51,ID_52,Name_23,North,Product_17,Clothing,7677.42,16,2022-01-29,9068.95,5356.38,2.85,233,430.01,367,376.34,289,447.08,472,255.84,126,679.75,17,9.12,470,496.94,238,103.22,239,187.71,412,520.02,290,562.01,13,286.57,16,513.06,315,554.68,87,362.19,349,974.57,276.0,195.45,197,437.95,235,525.27,308,437.02,316,172.98,43,116.94,96,542.00,36,940.47,125,794.28,158,301.30,478,685.31,450,997.80,384,642.70,233,3712.57
52,ID_53,Name_39,East,Product_9,Accessories,220.86,69,2022-01-30,192.54,188.30,3.36,195,958.64,252,375.04,328,370.56,111,753.90,474,441.80,288,279.44,321,404.59,18,689.04,359,311.39,70,336.36,143,641.75,172,465.32,269,697.86,236,1.65,215,345.09,300,140.29,59.0,616.75,100,268.83,33,764.32,204,924.78,210,164.71,28,9.33,113,449.06,305,432.52,391,67.21,376,350.25,306,575.44,416,846.44,107,429.64,399,4.24
54,ID_55,Name_3,South,Product_15,Electronics,5036.56,57,2022-02-02,5493.37,2880.74,4.95,173,273.63,256,785.52,410,0.63,42,815.15,370,825.91,313,277.09,225,746.15,354,13.33,28,213.05,427,464.51,172,823.70,457,391.08,47,312.05,493,26.97,203,182.42,468,709.19,72.0,20.96,314,734.22,45,481.45,45,124.29,257,303.41,405,409.20,121,144.85,327,811.01,477,56.15,343,887.63,320,691.21,140,425.11,31,737.06,195,2612.63
55,ID_56,Name_47,South,Product_16,Clothing,8093.80,50,2022-02-02,6481.90,5516.96,2.07,124,814.42,494,740.56,472,45.92,205,789.77,37,632.61,310,753.24,108,676.36,216,255.11,2,204.93,405,143.26,115,486.48,113,734.51,453,876.18,456,567.99,371,73.43,29,241.61,355.0,543.46,108,751.76,500,312.19,114,375.95,280,79.58,441,841.69,339,950.87,233,597.31,280,528.14,278,811.66,447,618.92,317,989.68,87,382.88,471,964.94
56,ID_57,Name_30,North,Product_11,Electronics,6119.04,2,2022-02-04,5856.04,3467.71,4.60,310,546.55,436,556.75,146,344.91,474,778.88,191,204.50,444,902.55,302,595.81,89,796.25,296,305.44,471,250.40,360,491.82,197,533.40,459,903.97,237,658.29,381,680.10,468,279.65,125.0,267.23,368,888.47,50,261.59,88,53.86,166,509.33,236,884.38,372,694.06,252,162.29,430,176.49,53,392.37,250,865.22,152,461.28,293,76.59,373,2388.33
57,ID_58,Name_35,South,Product_19,Furniture,4985.32,51,2022-02-06,4779.29,3327.45,2.31,241,416.76,354,434.91,246,390.38,100,278.38,483,246.07,91,79.64,478,46.72,415,407.07,420,104.47,105,432.16,86,966.20,414,860.57,2,190.11,369,671.61,188,111.90,180,556.10,173.0,127.61,25,990.01,207,876.63,121,742.44,209,91.87,325,357.34,75,533.15,402,269.81,67,319.10,215,402.46,475,376.35,43,730.93,229,959.22,293,1451.84
58,ID_59,Name_8,South,Product_1,Food,2247.05,33,2022-02-06,2403.82,1811.58,2.50,18,501.75,480,497.50,4,678.83,229,16.27,135,151.17,360,577.42,76,106.51,250,42.50,277,411.36,253,800.28,484,253.64,469,29.26,236,619.47,45,999.41,167,634.46,402,472.23,220.0,775.55,107,400.16,316,140.61,299,492.98,14,565.22,151,417.46,319,264.24,449,747.07,162,153.09,157,592.67,90,720.29,170,737.46,117,340.38,194,592.24
60,ID_61,Name_6,East,Product_15,Electronics,4592.01,12,2022-02-10,4595.65,3159.05,3.95,159,794.63,217,789.18,26,888.60,399,400.11,362,123.10,236,508.94,369,329.61,293,75.38,145,44.98,253,385.51,257,588.27,226,774.21,145,37.53,267,483.41,160,692.60,143,350.18,416.0,20.74,83,648.11,129,292.50,93,849.78,475,439.82,112,32.50,18,901.05,283,315.60,333,450.89,163,483.51,215,583.48,237,963.30,293,716.29,108,1436.60
62,ID_63,Name_19,North,Product_3,Electronics,6052.04,31,2022-02-12,7741.12,5130.82,3.99,398,306.20,461,14.36,72,355.89,455,840.40,101,155.31,326,121.25,69,324.62,365,907.04,208,843.46,497,106.12,223,811.32,326,405.00,382,266.98,441,20.64,240,364.14,460,273.74,205.0,903.00,223,1.97,59,352.57,192,260.95,497,549.73,408,713.88,150,755.05,256,495.30,369,131.39,353,492.15,124,574.65,139,330.45,298,701.15,42,2610.30
63,ID_64,Name_41,East,Product_18,Clothing,165.07,39,2022-02-13,211.41,137.59,4.20,361,600.24,327,790.50,216,203.31,176,898.86,7,869.00,398,721.03,179,506.54,339,256.65,395,1.94,402,632.24,468,729.87,62,129.05,90,4.35,56,528.63,300,310.10,395,605.65,254.0,457.27,389,950.91,340,549.64,6,336.43,465,74.58,494,936.17,221,258.99,163,699.20,126,770.82,369,16.36,77,42.16,306,729.13,175,965.34,58,73.82
66,ID_67,Name_37,East,Product_14,Electronics,6323.49,57,2022-02-14,7235.81,3346.43,4.92,111,213.41,369,364.19,238,387.40,482,874.28,28,720.46,169,586.86,493,445.32,449,236.09,231,199.28,497,305.71,282,830.08,417,742.99,105,496.53,194,218.54,338,310.04,170,754.29,203.0,730.50,401,746.67,202,559.71,346,186.17,167,463.17,229,825.55,265,253.55,223,964.72,180,654.63,333,726.68,469,888.28,342,373.40,322,64.58,285,3889.38
67,ID_68,Name_13,South,Product_7,Accessories,8219.20,81,2022-02-14,12275.68,5802.42,1.06,315,661.29,487,756.27,203,97.09,17,569.96,95,647.12,334,990.33,178,543.30,364,424.85,476,234.41,313,507.04,341,785.81,231,859.70,361,62.24,227,583.21,302,594.63,222,81.06,26.0,719.64,263,381.83,386,50.31,488,222.03,387,646.73,333,267.03,498,979.96,207,218.92,176,929.72,383,172.99,498,234.29,7,614.58,360,11.39,396,6473.26
68,ID_69,Name_46,North,Product_16,Clothing,2155.61,41,2022-02-17,2063.28,1534.20,3.54,211,287.56,150,339.92,157,261.06,150,998.08,100,367.63,485,322.65,220,538.30,64,325.68,230,366.39,283,436.98,7,295.68,82,539.72,205,120.54,357,648.17,293,3.91,82,141.23,74.0,817.16,24,760.45,309,235.63,436,80.62,208,954.44,217,941.36,150,642.33,379,915.07,75,599.06,271,296.63,114,160.33,89,120.07,79,856.86,327,529.08
69,ID_70,Name_5,North,Product_9,Food,1929.92,99,2022-02-17,2836.07,1264.57,4.34,49,115.87,330,892.46,159,565.33,299,248.77,28,220.67,390,245.89,170,401.87,157,280.49,17,960.04,414,107.36,188,762.79,465,148.72,14,479.39,402,346.44,241,271.03,370,301.15,232.0,186.46,239,954.30,256,726.62,301,987.50,262,791.32,71,193.57,198,974.39,276,351.69,201,121.24,56,932.76,341,94.70,73,260.99,407,386.53,360,1571.50
72,ID_73,Name_15,East,Product_11,Furniture,1539.21,5,2022-02-22,1590.94,1198.69,1.05,66,560.75,383,308.52,391,664.97,95,400.07,258,845.80,215,289.85,110,276.36,305,403.94,76,47.33,398,959.18,35,300.35,373,792.13,499,789.48,482,642.77,62,823.63,110,971.74,288.0,712.88,263,904.81,343,504.37,197,698.06,141,750.07,57,976.05,344,712.68,252,255.64,106,864.16,376,545.95,462,355.15,306,230.94,157,33.64,461,392.25
75,ID_76,Name_6,North,Product_5,Food,6072.53,100,2022-02-24,5218.51,3854.38,1.75,346,200.26,188,781.26,206,448.83,235,127.17,172,40.04,33,122.04,241,19.87,131,740.20,237,146.74,81,988.75,496,574.08,177,168.40,16,71.62,195,716.01,153,13.92,403,848.48,238.0,949.53,43,911.71,367,729.77,392,555.31,492,740.08,460,161.80,153,185.77,174,973.17,393,807.80,116,569.07,79,613.71,380,59.76,103,763.51,354,1364.13
77,ID_78,Name_7,East,Product_16,Furniture,968.26,61,2022-02-27,877.02,614.51,4.88,15,79.68,264,28.89,294,761.17,130,381.16,354,244.84,450,563.36,245,358.74,314,911.72,425,679.02,477,453.17,17,198.63,281,653.77,333,108.43,425,526.13,196,134.67,102,348.24,459.0,602.49,359,840.48,240,746.28,69,964.22,437,140.20,242,728.76,241,165.25,353,88.40,435,156.11,170,47.36,105,277.66,379,502.76,410,316.09,312,262.51
78,ID_79,Name_25,North,Product_11,Electronics,1177.99,95,2022-02-27,1295.84,875.84,2.62,479,646.84,379,130.86,230,913.98,470,806.80,483,830.18,106,47.78,247,902.41,384,34.73,495,596.80,410,878.75,489,479.51,417,718.27,171,3.37,136,26.51,40,102.68,345,765.48,325.0,438.11,422,226.29,352,787.07,412,40.69,111,414.95,3,445.75,69,634.30,382,488.70,197,719.83,183,395.07,88,840.99,191,992.97,311,641.75,438,420.00

In [41]:
# Let's now replace all -1 values with NaN
df.replace(-1, np.NaN, inplace=True)
df.head(50)

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit
1,ID_2,Name_8,East,Product_3,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97
4,ID_5,Name_18,West,Product_8,Food,6496.40,28,2022-01-04,9487.01,4717.43,NaN,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,4769.58
5,ID_6,Name_16,North,Product_7,Food,995.36,19,2022-01-05,921.99,894.95,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,27.04
6,ID_7,Name_15,East,Product_19,Food,5056.51,14,2022-01-07,5043.52,3803.15,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,1240.37
7,ID_8,Name_9,South,Product_12,Clothing,1879.74,23,2022-01-07,1911.91,1491.73,NaN,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,420.18
8,ID_9,Name_48,North,Product_20,Accessories,5895.93,28,2022-01-08,8370.32,4219.05,2.63,164,332.52,119,340.28,461,290.02,428,594.86,274,627.52,129,954.62,199,331.29,100,668.17,74,161.97,347,580.35,122,235.54,8,912.59,307,452.10,309,455.52,298,231.54,342,596.83,346.0,872.37,213,583.70,474,939.07,151,502.36,81,227.35,425,760.73,263,244.84,150,685.04,387,359.96,91,782.43,24,865.89,298,659.42,288,567.36,388,4151.27
10,ID_11,Name_44,East,Product_6,Furniture,5509.43,57,2022-01-09,7058.44,4690.68,NaN,16,736.55,491,313.56,358,604.93,490,183.88,88,781.84,120,979.73,135,329.20,16,230.02,18,816.41,319,485.52,16,543.17,471,179.02,334,25.33,172,11.57,484,967.84,187,196.97,175.0,286.93,487,45.40,490,301.15,281,552.78,149,766.76,133,61.00,374,271.83,30,376.99,247,947.51,113,835.32,385,933.99,58,727.73,79,94.83,138,2367.76
11,ID_12,Name_48,West,Product_20,Accessories,3991.36,53,2022-01-10,3717.93,3270.05,NaN,131,504.98,122,659.91,355,662.88,297,253.08,324,768.38,49,966.04,289,655.89,400,679.55,156,732.00,185,976.44,360,438.83,190,283.95,489,416.01,333,3.04,107,143.89,286,208.61,351.0,160.76,431,707.21,110,260.76,37,947.18,334,725.16,463,467.69,236,342.61,303,473.24,226,844.32,358,692.26,167,675.33,437,851.29,263,240.40,207,447.88
13,ID_14,Name_6,South,Product_7,Electronics,346.63,76,2022-01-11,380.76,264.71,1.40,243,889.59,330,613.70,104,394.50,107,680.47,484,376.84,200,579.57,484,299.32,310,926.17,439,971.08,267,498.67,446,103.87,67,456.55,387,611.22,437,134.75,114,474.88,211,594.26,430.0,256.59,379,400.02,174,903.33,137,235.41,42,486.82,362,553.55,50,183.11,487,825.82,432,892.37,276,879.59,128,592.18,73,498.58,42,350.19,37,116.05
14,ID_15,Name_38,North,Product_7,Food,4591.44,8,2022-01-12,5135.60,3251.36,2.39,441,993.63,450,722.38,60,9.91,300,875.04,410,441.09,112,257.18,223,580.11,294,195.67,397,888.62,491,457.69,242,726.20,24,102.65,213,650.16,34,960.64,187,345.00,73,837.72,51.0,531.94,285,146.71,328,972.46,204,312.84,35,288.72,402,684.91,45,363.96,442,103.94,367,335.90,215,105.36,121,624.41,236,472.44,263,347.61,364,1884.24
15,ID_16,Name_28,North,Product_2,Furniture,8976.51,63,2022-01-13,11234.85,5626.26,1.89,409,612.46,423,679.52,309,964.85,439,899.99,8,287.94,398,83.43,195,412.87,44,182.11,335,673.33,219,463.78,116,193.89,245,625.13,468,331.82,268,503.32,474,75.30,457,616.80,283.0,422.21,452,915.80,334,892.49,4,355.44,128,941.62,36,328.94,44,568.15,103,359.53,333,968.48,39,227.61,135,351.68,376,265.84,89,192.44,69,5608.59
17,ID_18,Name_2,West,Product_12,Accessories,8837.23,48,2022-01-14,11550.39,6452.04,NaN,386,434.94,424,687.45,323,887.63,92,10.95,409,12.85,309,728.68,264,515.72,350,874.82,34,234.88,363,416.04,443,598.63,413,482.22,162,240.18,303,633.05,85,607.20,427,541.18,270.0,219.24,174,643.17,82,514.78,345,237.18,134,96.60,293,444.92,111,499.37,131,11.18,149,183.69,157,825.43,36,268.00,150,798.50,491,448.56,346,5098.35
21,ID_22,Name_33,South,Product_18,Food,7143.55,70,2022-01-15,6213.54,6364.83,4.59,217,719.11,445,381.49,159,39.08,93,142.60,234,352.74,396,259.59,191,6.07,17,135.66,279,243.45,45,348.59,395,526.25,425,92.34,298,359.73,102,191.00,253,674.88,64,662.67,424.0,140.33,398,944.96,479,533.29,134,362.79,283,20.25,223,594.93,314,470.31,393,466.35,300,538.69,157,806.77,396,610.11,171,912.64,187,830.72,56,-151.29
22,ID_23,Name_39,West,Product_6,Furniture,1723.54,55,2022-01-15,1842.11,1020.95,2.76,353,547.12,163,694.77,97,400.21,383,162.31,50,677.68,411,35.28,36,818.12,279,429.19,259,417.48,118,330.82,345,309.80,139,726.13,197,474.52,274,761.97,172,767.10,173,433.92,484.0,984.38,261,855.44,116,97.47,357,634.47,422,145.27,336,178.72,93,274.83,300,380.73,380,948.13,64,614.50,59,300.32,423,852.40,345,541.97,144,821.16
23,ID_24,Name_2,West,Product_11,Electronics,7359.30,61,2022-01-16,6454.29,4606.38,4.43,301,538.79,36,351.26,16,552.88,212,876.91,24,699.30,241,900.58,445,654.20,59,150.64,17,547.14,342,885.63,29,737.52,230,798.38,315,74.45,331,993.37,23,138.44,45,534.61,28.0,544.76,133,80.69,44,394.15,228,676.55,478,894.35,169,609.21,161,670.80,397,682.27,79,505.74,116,280.15,491,56.23,247,80.38,148,629.08,42,1847.91
24,ID_25,Name_36,East,Product_10,Furniture,1002.79,88,2022-01-17,811.74,891.44,4.24,318,755.77,107,70.38,489,901.73,493,214.95,315,104.41,307,329.23,288,964.32,36,115.02,399,372.22,154,208.03,418,266.08,499,176.88,154,412.88,226,454.41,139,894.98,174,898.26,49.0,664.01,278,259.96,390,232.99,155,124.48,54,826.22,459,648.17,288,293.60,81,351.67,201,14.13,327,629.96,1,247.09,413,318.04,298,491.11,40,-79.70
28,ID_29,Name_45,North,Product_17,Electronics,7102.06,47,2022-01-19,9510.24,4715.56,2.03,498,627.04,247,832.52,403,833.56,8,156.21,269,969.20,378,514.82,458,98.72,355,554.97,311,67.72,288,805.92,197,684.45,153,258.94,164,415.21,336,791.45,411,950.77,160,444.28,68.0,434.67,122,131.23,201,684.13,291,20.57,282,319.86,412,90.09,164,715.97,469,886.06,146,351.76,80,151.09,38,620.92,159,679.46,39,303.85,412,4794.68
29,ID_30,Name_35,West,Product_4,Accessories,7296.05,61,2022-01-19,7203.82,3880.59,2.29,351,791.84,18,537.82,297,358.57,49,222.83,164,711.50,173,492.14,52,718.84,405,687.52,114,153.07,500,695.81,225,896.87,221,10.67,87,931.49,316,385.34,16,782.20,113,773.80,98.0,889.41,122,478.08,353,535.38,354,629.69,290,870.17,303,610.81,209,508.25,158,56.68,80,272.75,410,83.71,115,50.20,320,486.94,380,998.74,455,3323.23
33,ID_34,Name_38,East,Product_9,Furniture,5548.42,3,2022-01-20,4475.23,3848.73,1.39,20,914.11,325,314.39,120,539.62,348,266.26,170,648.10,24,380.92,182,331.42,386,845.82,397,447.74,336,107.88,166,122.90,245,158.44,315,832.79,144,82.35,323,717.92,281,228.92,128.0,538.06,78,908.13,230,818.41,107,299.15,197,83.74,100,474.26,149,285.70,108,51.48,178,166.02,33,76.03,211,932.54,286,717.56,116,90.94,354,626.50
35,ID_36,Name_1,West,Product_5,Electronics,1791.76,78,2022-01-21,2113.67,1459.43,4.32,250,230.95,285,709.36,75,874.93,138,822.92,233,66.90,301,982.54,24,244.54,485,703.89,371,261.79,445,381.82,336,353.42,76,745.32,346,85.62,92,917.05,136,213.07,36,75.24,173.0,422.83,177,637.01,136,122.04,160,102.62,277,956.83,228,43.63,115,115.42,129,921.02,144,802.27,365,540.45,324,879.54,353,252.53,269,417.28,366,654.24
37,ID_38,Name_11,South,Product_5,Clothing,8725.92,95,2022-01-22,12189.27,7252.36,1.50,464,590.89,94,514.67,82,329.88,425,58.80,28,575.50,357,623.44,343,660.66,124,570.72,115,424.61,279,315.13,167,526.34,451,534.74,422,272.36,269,967.16,282,444.64,478,983.30,403.0,762.05,421,802.14,423,348.69,409,345.83,113,706.29,3,22.27,106,572.17,465,287.88,419,719.81,44,700.75,294,947.90,85,861.87,8,489.54,175,4936.91
38,ID_39,Name_45,East,Product_11,Food,8640.46,85,2022-01-22,7426.26,7730.60,3.06,45,449.27,350,259.91,62,305.12,40,610.04,209,553.77,339,237.65,312,979.62,141,404.56,214,550.15,127,205.42,120,49.12,405,196.28,1,221.43,481,733.50,349,970.19,36,45.41,304.0,602.51,361,772.27,135,294.22,58,752.35,168,916.78,456,624.96,84,124.81,10,294.34,286,304.60,326,542.22,477,217.45,224,145.79,52,266.40,23,-304.34
40,ID_41,Name_22,East,Product_13,Electronics,1531.61,89,2022-01-23,2039.75,915.87,1.57,130,652.05,146,55.81,36,551.07,217,448.86,281,648.00,186,659.00,188,324.38,271,966.89,392,641.53,15,537.36,326,316.09,165,463.87,495,481.66,341,381.36,205,216.40,166,437.85,204.0,545.53,479,175.11,420,434.79,498,628.06,326,514.34,478,131.63,275,433.90,190,802.31,441,570.95,500,49.30,77,777.23,347,180.26,49,244.28,256,1123.88
41,ID_42,Name_18,East,Product_16,Electronics,7714.65,86,2022-01-23,10990.86,6663.19,3.64,279,38.71,156,485.51,181,618.85,280,131.86,334,476.79,452,52.47,421,837.45,322,359.31,122,632.34,63,731.58,92,740.03,32,972.99,483,495.97,98,842.66,282,761.02,487,907.38,261.0,138.60,301,343.24,230,519.77,240,833.83,90,548.02,214,363.58,57,57.21,158,502.62,339,197.63,56,407.17,471,779.54,142,152.02,491,251.78,429,4327.67
43,ID_44,Name_14,West,Product_19,Accessories,3149.82,33,2022-01-25,3197.60,2413.90,3.87,43,904.38,436,594.12,13,261.91,445,242.28,2,662.18,297,885.05,107,456.03,288,89.05,162,64.23,297,691.15,81,941.96,218,54.39,456,562.86,453,881.61,210,52.47,453,787.32,262.0,911.53,130,452.44,224,760.91,189,287.71,123,966.32,449,123.29,382,11.96,336,482.29,55,431.38,63,787.78,448,842.21,327,418.31,289,637.13,42,783.70
45,ID_46,Name_22,South,Product_14,Electronics,9613.56,50,2022-01-26,9331.56,7867.18,3.46,371,265.37,269,301.13,179,994.84,231,844.46,443,624.95,238,591.58,128,304.16,97,48.95,363,573.94,98,946.20,498,747.17,169,576.23,389,276.57,332,863.47,143,299.95,111,227.67,8.0,879.26,488,491.62,270,908.67,220,359.49,105,290.38,475,492.44,478,766.19,490,622.06,158,143.10,13,341.95,314,210.41,115,296.76,459,226.40,158,1464.38
46,ID_47,Name_7,North,Product_13,Electronics,2958.93,40,2022-01-26,3492.92,1883.74,2.00,426,530.74,316,135.89,249,553.33,238,891.40,220,155.88,70,884.72,475,349.84,447,217.15,396,861.88,138,82.24,334,338.42,428,170.58,391,339.20,78,951.11,433,389.20,179,33.00,50.0,149.26,267,515.11,470,827.33,435,906.78,435,18.51,155,544.99,198,751.79,467,793.28,136,311.09,177,832.56,478,89.51,226,497.86,132,947.27,208,1609.18
49,ID_50,Name_7,South,Product_3,Furniture,9608.30,47,2022-01-28,7829.28,6745.13,2.20,473,449.25,301,178.93,140,14.57,389,222.31,337,390.79,469,868.14,258,699.44,243,404.95,155,128.36,300,69.83,442,529.78,339,584.00,197,972.96,316,87.44,479,171.27,343,42.90,493.0,501.41,33,524.66,68,957.31,426,620.23,333,419.51,106,134.45,216,908.23,200,75.38,493,431.80,155,24.39,1,240.26,189,479.07,149,283.58,57,1084.15
50,ID_51,Name_23,North,Product_13,Electronics,134.98,88,2022-01-28,112.19,75.50,3.84,49,396.98,318,293.32,145,925.45,10,764.10,102,626.06,374,556.01,25,713.11,417,274.09,100,20.60,35,973.80,211,108.87,311,267.61,391,928.82,342,964.27,366,962.85,263,424.47,25.0,613.44,194,783.29,2,166.83,493,410.81,487,874.83,302,866.32,257,734.74,6,844.67,39,320.97,373,723.89,380,582.25,242,561.96,207,216.14,51,36.69
51,ID_52,Name_23,North,Product_17,Clothing,7677.42,16,2022-01-29,9068.95,5356.38,2.85,233,430.01,367,376.34,289,447.08,472,255.84,126,679.75,17,9.12,470,496.94,238,103.22,239,187.71,412,520.02,290,562.01,13,286.57,16,513.06,315,554.68,87,362.19,349,974.57,276.0,195.45,197,437.95,235,525.27,308,437.02,316,172.98,43,116.94,96,542.00,36,940.47,125,794.28,158,301.30,478,685.31,450,997.80,384,642.70,233,3712.57
52,ID_53,Name_39,East,Product_9,Accessories,220.86,69,2022-01-30,192.54,188.30,3.36,195,958.64,252,375.04,328,370.56,111,753.90,474,441.80,288,279.44,321,404.59,18,689.04,359,311.39,70,336.36,143,641.75,172,465.32,269,697.86,236,1.65,215,345.09,300,140.29,59.0,616.75,100,268.83,33,764.32,204,924.78,210,164.71,28,9.33,113,449.06,305,432.52,391,67.21,376,350.25,306,575.44,416,846.44,107,429.64,399,4.24
54,ID_55,Name_3,South,Product_15,Electronics,5036.56,57,2022-02-02,5493.37,2880.74,4.95,173,273.63,256,785.52,410,0.63,42,815.15,370,825.91,313,277.09,225,746.15,354,13.33,28,213.05,427,464.51,172,823.70,457,391.08,47,312.05,493,26.97,203,182.42,468,709.19,72.0,20.96,314,734.22,45,481.45,45,124.29,257,303.41,405,409.20,121,144.85,327,811.01,477,56.15,343,887.63,320,691.21,140,425.11,31,737.06,195,2612.63
55,ID_56,Name_47,South,Product_16,Clothing,8093.80,50,2022-02-02,6481.90,5516.96,2.07,124,814.42,494,740.56,472,45.92,205,789.77,37,632.61,310,753.24,108,676.36,216,255.11,2,204.93,405,143.26,115,486.48,113,734.51,453,876.18,456,567.99,371,73.43,29,241.61,355.0,543.46,108,751.76,500,312.19,114,375.95,280,79.58,441,841.69,339,950.87,233,597.31,280,528.14,278,811.66,447,618.92,317,989.68,87,382.88,471,964.94
56,ID_57,Name_30,North,Product_11,Electronics,6119.04,2,2022-02-04,5856.04,3467.71,4.60,310,546.55,436,556.75,146,344.91,474,778.88,191,204.50,444,902.55,302,595.81,89,796.25,296,305.44,471,250.40,360,491.82,197,533.40,459,903.97,237,658.29,381,680.10,468,279.65,125.0,267.23,368,888.47,50,261.59,88,53.86,166,509.33,236,884.38,372,694.06,252,162.29,430,176.49,53,392.37,250,865.22,152,461.28,293,76.59,373,2388.33
57,ID_58,Name_35,South,Product_19,Furniture,4985.32,51,2022-02-06,4779.29,3327.45,2.31,241,416.76,354,434.91,246,390.38,100,278.38,483,246.07,91,79.64,478,46.72,415,407.07,420,104.47,105,432.16,86,966.20,414,860.57,2,190.11,369,671.61,188,111.90,180,556.10,173.0,127.61,25,990.01,207,876.63,121,742.44,209,91.87,325,357.34,75,533.15,402,269.81,67,319.10,215,402.46,475,376.35,43,730.93,229,959.22,293,1451.84
58,ID_59,Name_8,South,Product_1,Food,2247.05,33,2022-02-06,2403.82,1811.58,2.50,18,501.75,480,497.50,4,678.83,229,16.27,135,151.17,360,577.42,76,106.51,250,42.50,277,411.36,253,800.28,484,253.64,469,29.26,236,619.47,45,999.41,167,634.46,402,472.23,220.0,775.55,107,400.16,316,140.61,299,492.98,14,565.22,151,417.46,319,264.24,449,747.07,162,153.09,157,592.67,90,720.29,170,737.46,117,340.38,194,592.24
60,ID_61,Name_6,East,Product_15,Electronics,4592.01,12,2022-02-10,4595.65,3159.05,3.95,159,794.63,217,789.18,26,888.60,399,400.11,362,123.10,236,508.94,369,329.61,293,75.38,145,44.98,253,385.51,257,588.27,226,774.21,145,37.53,267,483.41,160,692.60,143,350.18,416.0,20.74,83,648.11,129,292.50,93,849.78,475,439.82,112,32.50,18,901.05,283,315.60,333,450.89,163,483.51,215,583.48,237,963.30,293,716.29,108,1436.60
62,ID_63,Name_19,North,Product_3,Electronics,6052.04,31,2022-02-12,7741.12,5130.82,3.99,398,306.20,461,14.36,72,355.89,455,840.40,101,155.31,326,121.25,69,324.62,365,907.04,208,843.46,497,106.12,223,811.32,326,405.00,382,266.98,441,20.64,240,364.14,460,273.74,205.0,903.00,223,1.97,59,352.57,192,260.95,497,549.73,408,713.88,150,755.05,256,495.30,369,131.39,353,492.15,124,574.65,139,330.45,298,701.15,42,2610.30
63,ID_64,Name_41,East,Product_18,Clothing,165.07,39,2022-02-13,211.41,137.59,4.20,361,600.24,327,790.50,216,203.31,176,898.86,7,869.00,398,721.03,179,506.54,339,256.65,395,1.94,402,632.24,468,729.87,62,129.05,90,4.35,56,528.63,300,310.10,395,605.65,254.0,457.27,389,950.91,340,549.64,6,336.43,465,74.58,494,936.17,221,258.99,163,699.20,126,770.82,369,16.36,77,42.16,306,729.13,175,965.34,58,73.82
66,ID_67,Name_37,East,Product_14,Electronics,6323.49,57,2022-02-14,7235.81,3346.43,4.92,111,213.41,369,364.19,238,387.40,482,874.28,28,720.46,169,586.86,493,445.32,449,236.09,231,199.28,497,305.71,282,830.08,417,742.99,105,496.53,194,218.54,338,310.04,170,754.29,203.0,730.50,401,746.67,202,559.71,346,186.17,167,463.17,229,825.55,265,253.55,223,964.72,180,654.63,333,726.68,469,888.28,342,373.40,322,64.58,285,3889.38
67,ID_68,Name_13,South,Product_7,Accessories,8219.20,81,2022-02-14,12275.68,5802.42,1.06,315,661.29,487,756.27,203,97.09,17,569.96,95,647.12,334,990.33,178,543.30,364,424.85,476,234.41,313,507.04,341,785.81,231,859.70,361,62.24,227,583.21,302,594.63,222,81.06,26.0,719.64,263,381.83,386,50.31,488,222.03,387,646.73,333,267.03,498,979.96,207,218.92,176,929.72,383,172.99,498,234.29,7,614.58,360,11.39,396,6473.26
68,ID_69,Name_46,North,Product_16,Clothing,2155.61,41,2022-02-17,2063.28,1534.20,3.54,211,287.56,150,339.92,157,261.06,150,998.08,100,367.63,485,322.65,220,538.30,64,325.68,230,366.39,283,436.98,7,295.68,82,539.72,205,120.54,357,648.17,293,3.91,82,141.23,74.0,817.16,24,760.45,309,235.63,436,80.62,208,954.44,217,941.36,150,642.33,379,915.07,75,599.06,271,296.63,114,160.33,89,120.07,79,856.86,327,529.08
69,ID_70,Name_5,North,Product_9,Food,1929.92,99,2022-02-17,2836.07,1264.57,4.34,49,115.87,330,892.46,159,565.33,299,248.77,28,220.67,390,245.89,170,401.87,157,280.49,17,960.04,414,107.36,188,762.79,465,148.72,14,479.39,402,346.44,241,271.03,370,301.15,232.0,186.46,239,954.30,256,726.62,301,987.50,262,791.32,71,193.57,198,974.39,276,351.69,201,121.24,56,932.76,341,94.70,73,260.99,407,386.53,360,1571.50
72,ID_73,Name_15,East,Product_11,Furniture,1539.21,5,2022-02-22,1590.94,1198.69,1.05,66,560.75,383,308.52,391,664.97,95,400.07,258,845.80,215,289.85,110,276.36,305,403.94,76,47.33,398,959.18,35,300.35,373,792.13,499,789.48,482,642.77,62,823.63,110,971.74,288.0,712.88,263,904.81,343,504.37,197,698.06,141,750.07,57,976.05,344,712.68,252,255.64,106,864.16,376,545.95,462,355.15,306,230.94,157,33.64,461,392.25
75,ID_76,Name_6,North,Product_5,Food,6072.53,100,2022-02-24,5218.51,3854.38,1.75,346,200.26,188,781.26,206,448.83,235,127.17,172,40.04,33,122.04,241,19.87,131,740.20,237,146.74,81,988.75,496,574.08,177,168.40,16,71.62,195,716.01,153,13.92,403,848.48,238.0,949.53,43,911.71,367,729.77,392,555.31,492,740.08,460,161.80,153,185.77,174,973.17,393,807.80,116,569.07,79,613.71,380,59.76,103,763.51,354,1364.13
77,ID_78,Name_7,East,Product_16,Furniture,968.26,61,2022-02-27,877.02,614.51,4.88,15,79.68,264,28.89,294,761.17,130,381.16,354,244.84,450,563.36,245,358.74,314,911.72,425,679.02,477,453.17,17,198.63,281,653.77,333,108.43,425,526.13,196,134.67,102,348.24,459.0,602.49,359,840.48,240,746.28,69,964.22,437,140.20,242,728.76,241,165.25,353,88.40,435,156.11,170,47.36,105,277.66,379,502.76,410,316.09,312,262.51
78,ID_79,Name_25,North,Product_11,Electronics,1177.99,95,2022-02-27,1295.84,875.84,2.62,479,646.84,379,130.86,230,913.98,470,806.80,483,830.18,106,47.78,247,902.41,384,34.73,495,596.80,410,878.75,489,479.51,417,718.27,171,3.37,136,26.51,40,102.68,345,765.48,325.0,438.11,422,226.29,352,787.07,412,40.69,111,414.95,3,445.75,69,634.30,382,488.70,197,719.83,183,395.07,88,840.99,191,992.97,311,641.75,438,420.00

## 13. Filter rows where the column product starts with the letter A

In [43]:
# Since we don't have any values that starts with A, we will first replace few values with A.
df.replace('Product_3 Product_19 Product_12 Product_7 Product_2 Product_11 Product_16 Product_19'.split(),
           'Arun arumugam rama senthalampoo shiva senathipathi Aravind Aran'.split(), inplace=True)
#column_with_A = df['product'].filter(like = 'A')
#column_with_A

In [44]:
df.replace('Product_8', 'anand', inplace=True)
df.head(50)

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit
1,ID_2,Name_8,East,Arun,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97
4,ID_5,Name_18,West,anand,Food,6496.40,28,2022-01-04,9487.01,4717.43,NaN,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,4769.58
5,ID_6,Name_16,North,senthalampoo,Food,995.36,19,2022-01-05,921.99,894.95,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,27.04
6,ID_7,Name_15,East,Aran,Food,5056.51,14,2022-01-07,5043.52,3803.15,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,1240.37
7,ID_8,Name_9,South,rama,Clothing,1879.74,23,2022-01-07,1911.91,1491.73,NaN,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,420.18
8,ID_9,Name_48,North,Product_20,Accessories,5895.93,28,2022-01-08,8370.32,4219.05,2.63,164,332.52,119,340.28,461,290.02,428,594.86,274,627.52,129,954.62,199,331.29,100,668.17,74,161.97,347,580.35,122,235.54,8,912.59,307,452.10,309,455.52,298,231.54,342,596.83,346.0,872.37,213,583.70,474,939.07,151,502.36,81,227.35,425,760.73,263,244.84,150,685.04,387,359.96,91,782.43,24,865.89,298,659.42,288,567.36,388,4151.27
10,ID_11,Name_44,East,Product_6,Furniture,5509.43,57,2022-01-09,7058.44,4690.68,NaN,16,736.55,491,313.56,358,604.93,490,183.88,88,781.84,120,979.73,135,329.20,16,230.02,18,816.41,319,485.52,16,543.17,471,179.02,334,25.33,172,11.57,484,967.84,187,196.97,175.0,286.93,487,45.40,490,301.15,281,552.78,149,766.76,133,61.00,374,271.83,30,376.99,247,947.51,113,835.32,385,933.99,58,727.73,79,94.83,138,2367.76
11,ID_12,Name_48,West,Product_20,Accessories,3991.36,53,2022-01-10,3717.93,3270.05,NaN,131,504.98,122,659.91,355,662.88,297,253.08,324,768.38,49,966.04,289,655.89,400,679.55,156,732.00,185,976.44,360,438.83,190,283.95,489,416.01,333,3.04,107,143.89,286,208.61,351.0,160.76,431,707.21,110,260.76,37,947.18,334,725.16,463,467.69,236,342.61,303,473.24,226,844.32,358,692.26,167,675.33,437,851.29,263,240.40,207,447.88
13,ID_14,Name_6,South,senthalampoo,Electronics,346.63,76,2022-01-11,380.76,264.71,1.40,243,889.59,330,613.70,104,394.50,107,680.47,484,376.84,200,579.57,484,299.32,310,926.17,439,971.08,267,498.67,446,103.87,67,456.55,387,611.22,437,134.75,114,474.88,211,594.26,430.0,256.59,379,400.02,174,903.33,137,235.41,42,486.82,362,553.55,50,183.11,487,825.82,432,892.37,276,879.59,128,592.18,73,498.58,42,350.19,37,116.05
14,ID_15,Name_38,North,senthalampoo,Food,4591.44,8,2022-01-12,5135.60,3251.36,2.39,441,993.63,450,722.38,60,9.91,300,875.04,410,441.09,112,257.18,223,580.11,294,195.67,397,888.62,491,457.69,242,726.20,24,102.65,213,650.16,34,960.64,187,345.00,73,837.72,51.0,531.94,285,146.71,328,972.46,204,312.84,35,288.72,402,684.91,45,363.96,442,103.94,367,335.90,215,105.36,121,624.41,236,472.44,263,347.61,364,1884.24
15,ID_16,Name_28,North,shiva,Furniture,8976.51,63,2022-01-13,11234.85,5626.26,1.89,409,612.46,423,679.52,309,964.85,439,899.99,8,287.94,398,83.43,195,412.87,44,182.11,335,673.33,219,463.78,116,193.89,245,625.13,468,331.82,268,503.32,474,75.30,457,616.80,283.0,422.21,452,915.80,334,892.49,4,355.44,128,941.62,36,328.94,44,568.15,103,359.53,333,968.48,39,227.61,135,351.68,376,265.84,89,192.44,69,5608.59
17,ID_18,Name_2,West,rama,Accessories,8837.23,48,2022-01-14,11550.39,6452.04,NaN,386,434.94,424,687.45,323,887.63,92,10.95,409,12.85,309,728.68,264,515.72,350,874.82,34,234.88,363,416.04,443,598.63,413,482.22,162,240.18,303,633.05,85,607.20,427,541.18,270.0,219.24,174,643.17,82,514.78,345,237.18,134,96.60,293,444.92,111,499.37,131,11.18,149,183.69,157,825.43,36,268.00,150,798.50,491,448.56,346,5098.35
21,ID_22,Name_33,South,Product_18,Food,7143.55,70,2022-01-15,6213.54,6364.83,4.59,217,719.11,445,381.49,159,39.08,93,142.60,234,352.74,396,259.59,191,6.07,17,135.66,279,243.45,45,348.59,395,526.25,425,92.34,298,359.73,102,191.00,253,674.88,64,662.67,424.0,140.33,398,944.96,479,533.29,134,362.79,283,20.25,223,594.93,314,470.31,393,466.35,300,538.69,157,806.77,396,610.11,171,912.64,187,830.72,56,-151.29
22,ID_23,Name_39,West,Product_6,Furniture,1723.54,55,2022-01-15,1842.11,1020.95,2.76,353,547.12,163,694.77,97,400.21,383,162.31,50,677.68,411,35.28,36,818.12,279,429.19,259,417.48,118,330.82,345,309.80,139,726.13,197,474.52,274,761.97,172,767.10,173,433.92,484.0,984.38,261,855.44,116,97.47,357,634.47,422,145.27,336,178.72,93,274.83,300,380.73,380,948.13,64,614.50,59,300.32,423,852.40,345,541.97,144,821.16
23,ID_24,Name_2,West,senathipathi,Electronics,7359.30,61,2022-01-16,6454.29,4606.38,4.43,301,538.79,36,351.26,16,552.88,212,876.91,24,699.30,241,900.58,445,654.20,59,150.64,17,547.14,342,885.63,29,737.52,230,798.38,315,74.45,331,993.37,23,138.44,45,534.61,28.0,544.76,133,80.69,44,394.15,228,676.55,478,894.35,169,609.21,161,670.80,397,682.27,79,505.74,116,280.15,491,56.23,247,80.38,148,629.08,42,1847.91
24,ID_25,Name_36,East,Product_10,Furniture,1002.79,88,2022-01-17,811.74,891.44,4.24,318,755.77,107,70.38,489,901.73,493,214.95,315,104.41,307,329.23,288,964.32,36,115.02,399,372.22,154,208.03,418,266.08,499,176.88,154,412.88,226,454.41,139,894.98,174,898.26,49.0,664.01,278,259.96,390,232.99,155,124.48,54,826.22,459,648.17,288,293.60,81,351.67,201,14.13,327,629.96,1,247.09,413,318.04,298,491.11,40,-79.70
28,ID_29,Name_45,North,Product_17,Electronics,7102.06,47,2022-01-19,9510.24,4715.56,2.03,498,627.04,247,832.52,403,833.56,8,156.21,269,969.20,378,514.82,458,98.72,355,554.97,311,67.72,288,805.92,197,684.45,153,258.94,164,415.21,336,791.45,411,950.77,160,444.28,68.0,434.67,122,131.23,201,684.13,291,20.57,282,319.86,412,90.09,164,715.97,469,886.06,146,351.76,80,151.09,38,620.92,159,679.46,39,303.85,412,4794.68
29,ID_30,Name_35,West,Product_4,Accessories,7296.05,61,2022-01-19,7203.82,3880.59,2.29,351,791.84,18,537.82,297,358.57,49,222.83,164,711.50,173,492.14,52,718.84,405,687.52,114,153.07,500,695.81,225,896.87,221,10.67,87,931.49,316,385.34,16,782.20,113,773.80,98.0,889.41,122,478.08,353,535.38,354,629.69,290,870.17,303,610.81,209,508.25,158,56.68,80,272.75,410,83.71,115,50.20,320,486.94,380,998.74,455,3323.23
33,ID_34,Name_38,East,Product_9,Furniture,5548.42,3,2022-01-20,4475.23,3848.73,1.39,20,914.11,325,314.39,120,539.62,348,266.26,170,648.10,24,380.92,182,331.42,386,845.82,397,447.74,336,107.88,166,122.90,245,158.44,315,832.79,144,82.35,323,717.92,281,228.92,128.0,538.06,78,908.13,230,818.41,107,299.15,197,83.74,100,474.26,149,285.70,108,51.48,178,166.02,33,76.03,211,932.54,286,717.56,116,90.94,354,626.50
35,ID_36,Name_1,West,Product_5,Electronics,1791.76,78,2022-01-21,2113.67,1459.43,4.32,250,230.95,285,709.36,75,874.93,138,822.92,233,66.90,301,982.54,24,244.54,485,703.89,371,261.79,445,381.82,336,353.42,76,745.32,346,85.62,92,917.05,136,213.07,36,75.24,173.0,422.83,177,637.01,136,122.04,160,102.62,277,956.83,228,43.63,115,115.42,129,921.02,144,802.27,365,540.45,324,879.54,353,252.53,269,417.28,366,654.24
37,ID_38,Name_11,South,Product_5,Clothing,8725.92,95,2022-01-22,12189.27,7252.36,1.50,464,590.89,94,514.67,82,329.88,425,58.80,28,575.50,357,623.44,343,660.66,124,570.72,115,424.61,279,315.13,167,526.34,451,534.74,422,272.36,269,967.16,282,444.64,478,983.30,403.0,762.05,421,802.14,423,348.69,409,345.83,113,706.29,3,22.27,106,572.17,465,287.88,419,719.81,44,700.75,294,947.90,85,861.87,8,489.54,175,4936.91
38,ID_39,Name_45,East,senathipathi,Food,8640.46,85,2022-01-22,7426.26,7730.60,3.06,45,449.27,350,259.91,62,305.12,40,610.04,209,553.77,339,237.65,312,979.62,141,404.56,214,550.15,127,205.42,120,49.12,405,196.28,1,221.43,481,733.50,349,970.19,36,45.41,304.0,602.51,361,772.27,135,294.22,58,752.35,168,916.78,456,624.96,84,124.81,10,294.34,286,304.60,326,542.22,477,217.45,224,145.79,52,266.40,23,-304.34
40,ID_41,Name_22,East,Product_13,Electronics,1531.61,89,2022-01-23,2039.75,915.87,1.57,130,652.05,146,55.81,36,551.07,217,448.86,281,648.00,186,659.00,188,324.38,271,966.89,392,641.53,15,537.36,326,316.09,165,463.87,495,481.66,341,381.36,205,216.40,166,437.85,204.0,545.53,479,175.11,420,434.79,498,628.06,326,514.34,478,131.63,275,433.90,190,802.31,441,570.95,500,49.30,77,777.23,347,180.26,49,244.28,256,1123.88
41,ID_42,Name_18,East,Aravind,Electronics,7714.65,86,2022-01-23,10990.86,6663.19,3.64,279,38.71,156,485.51,181,618.85,280,131.86,334,476.79,452,52.47,421,837.45,322,359.31,122,632.34,63,731.58,92,740.03,32,972.99,483,495.97,98,842.66,282,761.02,487,907.38,261.0,138.60,301,343.24,230,519.77,240,833.83,90,548.02,214,363.58,57,57.21,158,502.62,339,197.63,56,407.17,471,779.54,142,152.02,491,251.78,429,4327.67
43,ID_44,Name_14,West,Aran,Accessories,3149.82,33,2022-01-25,3197.60,2413.90,3.87,43,904.38,436,594.12,13,261.91,445,242.28,2,662.18,297,885.05,107,456.03,288,89.05,162,64.23,297,691.15,81,941.96,218,54.39,456,562.86,453,881.61,210,52.47,453,787.32,262.0,911.53,130,452.44,224,760.91,189,287.71,123,966.32,449,123.29,382,11.96,336,482.29,55,431.38,63,787.78,448,842.21,327,418.31,289,637.13,42,783.70
45,ID_46,Name_22,South,Product_14,Electronics,9613.56,50,2022-01-26,9331.56,7867.18,3.46,371,265.37,269,301.13,179,994.84,231,844.46,443,624.95,238,591.58,128,304.16,97,48.95,363,573.94,98,946.20,498,747.17,169,576.23,389,276.57,332,863.47,143,299.95,111,227.67,8.0,879.26,488,491.62,270,908.67,220,359.49,105,290.38,475,492.44,478,766.19,490,622.06,158,143.10,13,341.95,314,210.41,115,296.76,459,226.40,158,1464.38
46,ID_47,Name_7,North,Product_13,Electronics,2958.93,40,2022-01-26,3492.92,1883.74,2.00,426,530.74,316,135.89,249,553.33,238,891.40,220,155.88,70,884.72,475,349.84,447,217.15,396,861.88,138,82.24,334,338.42,428,170.58,391,339.20,78,951.11,433,389.20,179,33.00,50.0,149.26,267,515.11,470,827.33,435,906.78,435,18.51,155,544.99,198,751.79,467,793.28,136,311.09,177,832.56,478,89.51,226,497.86,132,947.27,208,1609.18
49,ID_50,Name_7,South,Arun,Furniture,9608.30,47,2022-01-28,7829.28,6745.13,2.20,473,449.25,301,178.93,140,14.57,389,222.31,337,390.79,469,868.14,258,699.44,243,404.95,155,128.36,300,69.83,442,529.78,339,584.00,197,972.96,316,87.44,479,171.27,343,42.90,493.0,501.41,33,524.66,68,957.31,426,620.23,333,419.51,106,134.45,216,908.23,200,75.38,493,431.80,155,24.39,1,240.26,189,479.07,149,283.58,57,1084.15
50,ID_51,Name_23,North,Product_13,Electronics,134.98,88,2022-01-28,112.19,75.50,3.84,49,396.98,318,293.32,145,925.45,10,764.10,102,626.06,374,556.01,25,713.11,417,274.09,100,20.60,35,973.80,211,108.87,311,267.61,391,928.82,342,964.27,366,962.85,263,424.47,25.0,613.44,194,783.29,2,166.83,493,410.81,487,874.83,302,866.32,257,734.74,6,844.67,39,320.97,373,723.89,380,582.25,242,561.96,207,216.14,51,36.69
51,ID_52,Name_23,North,Product_17,Clothing,7677.42,16,2022-01-29,9068.95,5356.38,2.85,233,430.01,367,376.34,289,447.08,472,255.84,126,679.75,17,9.12,470,496.94,238,103.22,239,187.71,412,520.02,290,562.01,13,286.57,16,513.06,315,554.68,87,362.19,349,974.57,276.0,195.45,197,437.95,235,525.27,308,437.02,316,172.98,43,116.94,96,542.00,36,940.47,125,794.28,158,301.30,478,685.31,450,997.80,384,642.70,233,3712.57
52,ID_53,Name_39,East,Product_9,Accessories,220.86,69,2022-01-30,192.54,188.30,3.36,195,958.64,252,375.04,328,370.56,111,753.90,474,441.80,288,279.44,321,404.59,18,689.04,359,311.39,70,336.36,143,641.75,172,465.32,269,697.86,236,1.65,215,345.09,300,140.29,59.0,616.75,100,268.83,33,764.32,204,924.78,210,164.71,28,9.33,113,449.06,305,432.52,391,67.21,376,350.25,306,575.44,416,846.44,107,429.64,399,4.24
54,ID_55,Name_3,South,Product_15,Electronics,5036.56,57,2022-02-02,5493.37,2880.74,4.95,173,273.63,256,785.52,410,0.63,42,815.15,370,825.91,313,277.09,225,746.15,354,13.33,28,213.05,427,464.51,172,823.70,457,391.08,47,312.05,493,26.97,203,182.42,468,709.19,72.0,20.96,314,734.22,45,481.45,45,124.29,257,303.41,405,409.20,121,144.85,327,811.01,477,56.15,343,887.63,320,691.21,140,425.11,31,737.06,195,2612.63
55,ID_56,Name_47,South,Aravind,Clothing,8093.80,50,2022-02-02,6481.90,5516.96,2.07,124,814.42,494,740.56,472,45.92,205,789.77,37,632.61,310,753.24,108,676.36,216,255.11,2,204.93,405,143.26,115,486.48,113,734.51,453,876.18,456,567.99,371,73.43,29,241.61,355.0,543.46,108,751.76,500,312.19,114,375.95,280,79.58,441,841.69,339,950.87,233,597.31,280,528.14,278,811.66,447,618.92,317,989.68,87,382.88,471,964.94
56,ID_57,Name_30,North,senathipathi,Electronics,6119.04,2,2022-02-04,5856.04,3467.71,4.60,310,546.55,436,556.75,146,344.91,474,778.88,191,204.50,444,902.55,302,595.81,89,796.25,296,305.44,471,250.40,360,491.82,197,533.40,459,903.97,237,658.29,381,680.10,468,279.65,125.0,267.23,368,888.47,50,261.59,88,53.86,166,509.33,236,884.38,372,694.06,252,162.29,430,176.49,53,392.37,250,865.22,152,461.28,293,76.59,373,2388.33
57,ID_58,Name_35,South,Aran,Furniture,4985.32,51,2022-02-06,4779.29,3327.45,2.31,241,416.76,354,434.91,246,390.38,100,278.38,483,246.07,91,79.64,478,46.72,415,407.07,420,104.47,105,432.16,86,966.20,414,860.57,2,190.11,369,671.61,188,111.90,180,556.10,173.0,127.61,25,990.01,207,876.63,121,742.44,209,91.87,325,357.34,75,533.15,402,269.81,67,319.10,215,402.46,475,376.35,43,730.93,229,959.22,293,1451.84
58,ID_59,Name_8,South,Product_1,Food,2247.05,33,2022-02-06,2403.82,1811.58,2.50,18,501.75,480,497.50,4,678.83,229,16.27,135,151.17,360,577.42,76,106.51,250,42.50,277,411.36,253,800.28,484,253.64,469,29.26,236,619.47,45,999.41,167,634.46,402,472.23,220.0,775.55,107,400.16,316,140.61,299,492.98,14,565.22,151,417.46,319,264.24,449,747.07,162,153.09,157,592.67,90,720.29,170,737.46,117,340.38,194,592.24
60,ID_61,Name_6,East,Product_15,Electronics,4592.01,12,2022-02-10,4595.65,3159.05,3.95,159,794.63,217,789.18,26,888.60,399,400.11,362,123.10,236,508.94,369,329.61,293,75.38,145,44.98,253,385.51,257,588.27,226,774.21,145,37.53,267,483.41,160,692.60,143,350.18,416.0,20.74,83,648.11,129,292.50,93,849.78,475,439.82,112,32.50,18,901.05,283,315.60,333,450.89,163,483.51,215,583.48,237,963.30,293,716.29,108,1436.60
62,ID_63,Name_19,North,Arun,Electronics,6052.04,31,2022-02-12,7741.12,5130.82,3.99,398,306.20,461,14.36,72,355.89,455,840.40,101,155.31,326,121.25,69,324.62,365,907.04,208,843.46,497,106.12,223,811.32,326,405.00,382,266.98,441,20.64,240,364.14,460,273.74,205.0,903.00,223,1.97,59,352.57,192,260.95,497,549.73,408,713.88,150,755.05,256,495.30,369,131.39,353,492.15,124,574.65,139,330.45,298,701.15,42,2610.30
63,ID_64,Name_41,East,Product_18,Clothing,165.07,39,2022-02-13,211.41,137.59,4.20,361,600.24,327,790.50,216,203.31,176,898.86,7,869.00,398,721.03,179,506.54,339,256.65,395,1.94,402,632.24,468,729.87,62,129.05,90,4.35,56,528.63,300,310.10,395,605.65,254.0,457.27,389,950.91,340,549.64,6,336.43,465,74.58,494,936.17,221,258.99,163,699.20,126,770.82,369,16.36,77,42.16,306,729.13,175,965.34,58,73.82
66,ID_67,Name_37,East,Product_14,Electronics,6323.49,57,2022-02-14,7235.81,3346.43,4.92,111,213.41,369,364.19,238,387.40,482,874.28,28,720.46,169,586.86,493,445.32,449,236.09,231,199.28,497,305.71,282,830.08,417,742.99,105,496.53,194,218.54,338,310.04,170,754.29,203.0,730.50,401,746.67,202,559.71,346,186.17,167,463.17,229,825.55,265,253.55,223,964.72,180,654.63,333,726.68,469,888.28,342,373.40,322,64.58,285,3889.38
67,ID_68,Name_13,South,senthalampoo,Accessories,8219.20,81,2022-02-14,12275.68,5802.42,1.06,315,661.29,487,756.27,203,97.09,17,569.96,95,647.12,334,990.33,178,543.30,364,424.85,476,234.41,313,507.04,341,785.81,231,859.70,361,62.24,227,583.21,302,594.63,222,81.06,26.0,719.64,263,381.83,386,50.31,488,222.03,387,646.73,333,267.03,498,979.96,207,218.92,176,929.72,383,172.99,498,234.29,7,614.58,360,11.39,396,6473.26
68,ID_69,Name_46,North,Aravind,Clothing,2155.61,41,2022-02-17,2063.28,1534.20,3.54,211,287.56,150,339.92,157,261.06,150,998.08,100,367.63,485,322.65,220,538.30,64,325.68,230,366.39,283,436.98,7,295.68,82,539.72,205,120.54,357,648.17,293,3.91,82,141.23,74.0,817.16,24,760.45,309,235.63,436,80.62,208,954.44,217,941.36,150,642.33,379,915.07,75,599.06,271,296.63,114,160.33,89,120.07,79,856.86,327,529.08
69,ID_70,Name_5,North,Product_9,Food,1929.92,99,2022-02-17,2836.07,1264.57,4.34,49,115.87,330,892.46,159,565.33,299,248.77,28,220.67,390,245.89,170,401.87,157,280.49,17,960.04,414,107.36,188,762.79,465,148.72,14,479.39,402,346.44,241,271.03,370,301.15,232.0,186.46,239,954.30,256,726.62,301,987.50,262,791.32,71,193.57,198,974.39,276,351.69,201,121.24,56,932.76,341,94.70,73,260.99,407,386.53,360,1571.50
72,ID_73,Name_15,East,senathipathi,Furniture,1539.21,5,2022-02-22,1590.94,1198.69,1.05,66,560.75,383,308.52,391,664.97,95,400.07,258,845.80,215,289.85,110,276.36,305,403.94,76,47.33,398,959.18,35,300.35,373,792.13,499,789.48,482,642.77,62,823.63,110,971.74,288.0,712.88,263,904.81,343,504.37,197,698.06,141,750.07,57,976.05,344,712.68,252,255.64,106,864.16,376,545.95,462,355.15,306,230.94,157,33.64,461,392.25
75,ID_76,Name_6,North,Product_5,Food,6072.53,100,2022-02-24,5218.51,3854.38,1.75,346,200.26,188,781.26,206,448.83,235,127.17,172,40.04,33,122.04,241,19.87,131,740.20,237,146.74,81,988.75,496,574.08,177,168.40,16,71.62,195,716.01,153,13.92,403,848.48,238.0,949.53,43,911.71,367,729.77,392,555.31,492,740.08,460,161.80,153,185.77,174,973.17,393,807.80,116,569.07,79,613.71,380,59.76,103,763.51,354,1364.13
77,ID_78,Name_7,East,Aravind,Furniture,968.26,61,2022-02-27,877.02,614.51,4.88,15,79.68,264,28.89,294,761.17,130,381.16,354,244.84,450,563.36,245,358.74,314,911.72,425,679.02,477,453.17,17,198.63,281,653.77,333,108.43,425,526.13,196,134.67,102,348.24,459.0,602.49,359,840.48,240,746.28,69,964.22,437,140.20,242,728.76,241,165.25,353,88.40,435,156.11,170,47.36,105,277.66,379,502.76,410,316.09,312,262.51
78,ID_79,Name_25,North,senathipathi,Electronics,1177.99,95,2022-02-27,1295.84,875.84,2.62,479,646.84,379,130.86,230,913.98,470,806.80,483,830.18,106,47.78,247,902.41,384,34.73,495,596.80,410,878.75,489,479.51,417,718.27,171,3.37,136,26.51,40,102.68,345,765.48,325.0,438.11,422,226.29,352,787.07,412,40.69,111,414.95,3,445.75,69,634.30,382,488.70,197,719.83,183,395.07,88,840.99,191,992.97,311,641.75,438,420.00

In [45]:
# Filtering the product column values that starts with A only
# Remember since python is case sensitive, it ignored a column value that starts with small 'a'

columns_with_A = df[df['product'].str.startswith('A')]
columns_with_A

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit
1,ID_2,Name_8,East,Arun,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97
6,ID_7,Name_15,East,Aran,Food,5056.51,14,2022-01-07,5043.52,3803.15,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,1240.37
41,ID_42,Name_18,East,Aravind,Electronics,7714.65,86,2022-01-23,10990.86,6663.19,3.64,279,38.71,156,485.51,181,618.85,280,131.86,334,476.79,452,52.47,421,837.45,322,359.31,122,632.34,63,731.58,92,740.03,32,972.99,483,495.97,98,842.66,282,761.02,487,907.38,261.0,138.60,301,343.24,230,519.77,240,833.83,90,548.02,214,363.58,57,57.21,158,502.62,339,197.63,56,407.17,471,779.54,142,152.02,491,251.78,429,4327.67
43,ID_44,Name_14,West,Aran,Accessories,3149.82,33,2022-01-25,3197.60,2413.90,3.87,43,904.38,436,594.12,13,261.91,445,242.28,2,662.18,297,885.05,107,456.03,288,89.05,162,64.23,297,691.15,81,941.96,218,54.39,456,562.86,453,881.61,210,52.47,453,787.32,262.0,911.53,130,452.44,224,760.91,189,287.71,123,966.32,449,123.29,382,11.96,336,482.29,55,431.38,63,787.78,448,842.21,327,418.31,289,637.13,42,783.70
49,ID_50,Name_7,South,Arun,Furniture,9608.30,47,2022-01-28,7829.28,6745.13,2.20,473,449.25,301,178.93,140,14.57,389,222.31,337,390.79,469,868.14,258,699.44,243,404.95,155,128.36,300,69.83,442,529.78,339,584.00,197,972.96,316,87.44,479,171.27,343,42.90,493.0,501.41,33,524.66,68,957.31,426,620.23,333,419.51,106,134.45,216,908.23,200,75.38,493,431.80,155,24.39,1,240.26,189,479.07,149,283.58,57,1084.15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,ID_1457,Name_9,East,Arun,Furniture,374.27,61,2024-11-29,554.93,250.01,3.19,382,844.70,278,357.75,203,314.27,488,399.33,250,371.57,253,685.05,295,924.90,186,841.98,455,327.39,260,9.27,380,736.32,225,926.76,419,652.48,136,376.31,446,445.52,369,891.09,351.0,903.66,498,458.02,265,27.53,454,262.89,467,971.14,246,590.57,100,880.80,36,958.80,260,303.98,152,381.86,420,577.36,89,346.67,173,988.00,144,304.92
1469,ID_1470,Name_18,West,Aran,Accessories,6478.51,13,2024-12-11,8942.91,3280.33,3.86,4,506.44,41,89.81,131,862.66,217,373.79,221,999.19,46,34.27,447,337.96,55,869.50,441,270.48,197,407.20,181,681.06,242,733.80,44,24.47,89,826.81,395,176.73,108,158.74,331.0,655.69,71,334.66,135,342.97,359,383.14,218,71.75,490,457.24,194,525.91,382,694.77,358,753.86,85,462.28,67,506.44,189,476.11,265,961.29,484,5662.58
1486,ID_1487,Name_36,North,Arun,Furniture,5752.64,79,2024-12-26,6982.90,4770.67,4.31,310,712.68,485,79.90,259,464.79,68,440.81,189,831.47,477,724.43,347,907.10,470,418.60,226,513.20,333,335.46,189,244.90,129,518.70,288,249.33,450,540.74,139,400.31,252,776.35,170.0,684.06,131,915.35,311,761.48,294,697.74,100,359.42,161,647.94,212,880.51,159,89.44,173,527.45,304,843.68,285,876.23,64,421.37,285,187.34,21,2212.23
1492,ID_1493,Name_35,South,Arun,Furniture,5300.08,8,2024-12-29,7146.77,4067.64,3.65,370,967.63,276,28.32,125,422.93,431,373.98,373,703.22,205,952.30,1,743.74,483,108.27,126,521.78,443,981.08,166,492.89,166,730.63,281,975.78,393,471.17,336,817.14,364,190.07,393.0,17.07,139,485.76,7,684.86,178,202.14,350,205.39,262,55.56,223,101.30,99,404.63,325,870.23,474,500.53,202,671.51,302,112.80,281,467.03,157,3079.13
1499,ID_1500,Name_17,East,Arun,Accessories,7398.64,80,2025-01-01,9868.52,4803.74,4.68,185,42.87,298,352.42,176,552.49,326,582.30,117,598.23,15,976.94,483,942.30,87,784.12,37,254.82,323,795.54,224,27.48,42,750.20,110,328.94,450,103.83,232,94.97,252,603.94,191.0,760.17,110,672.25,276,380.95,331,738.68,16,858.03,224,247.99,398,941.61,352,428.71,80,409.54,162,925.63,183,141.57,214,174.95,89,380.95,310,5064.78

## 14. Add a column called discounted_price by applying a 10% discount to the price column

In [47]:
df['discounted_price'] = 0.01 * df['cost']
df.head()

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,profit,discounted_price
1,ID_2,Name_8,East,Arun,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,3387.97,61.1322
4,ID_5,Name_18,West,anand,Food,6496.40,28,2022-01-04,9487.01,4717.43,NaN,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,4769.58,47.1743
5,ID_6,Name_16,North,senthalampoo,Food,995.36,19,2022-01-05,921.99,894.95,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,27.04,8.9495
6,ID_7,Name_15,East,Aran,Food,5056.51,14,2022-01-07,5043.52,3803.15,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,1240.37,38.0315
7,ID_8,Name_9,South,rama,Clothing,1879.74,23,2022-01-07,1911.91,1491.73,NaN,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,420.18,14.9173

In [48]:
# Move the position of columns. The column discounted_price & profit are in the last position.
# Moving it to the 11 position
#column = list(df.columns)
#column.insert(11, column.pop(-1))
#df.head()
columns_to_move = ['profit', 'discounted_price']
new_order = (list(df.columns[:10]) + columns_to_move + list(df.columns[10:-2]))
df = df[new_order]
df.head()

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,profit,discounted_price,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70
1,ID_2,Name_8,East,Arun,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,3387.97,61.1322,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177
4,ID_5,Name_18,West,anand,Food,6496.40,28,2022-01-04,9487.01,4717.43,4769.58,47.1743,NaN,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250
5,ID_6,Name_16,North,senthalampoo,Food,995.36,19,2022-01-05,921.99,894.95,27.04,8.9495,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188
6,ID_7,Name_15,East,Aran,Food,5056.51,14,2022-01-07,5043.52,3803.15,1240.37,38.0315,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15
7,ID_8,Name_9,South,rama,Clothing,1879.74,23,2022-01-07,1911.91,1491.73,420.18,14.9173,NaN,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440

## 15. Merge two DataFrames on a common column called id

In [50]:
#data.shape
# Since we don't have id column in 'data' dataframe we first create it to merge with 'df' dataframe
data['id'] = df['id']
data.head(40)

,fan_id,table_id,board_id,door_id,cloth_id,book_id,bag_id,doll_id,light_id,id
0,-0.198041,0.983210,0.343357,0.873239,1.412006,0.412939,1.777955,1.172862,0.603329,NaN
1,0.499106,0.859043,1.302655,0.638702,-1.861433,-0.392833,-1.237860,-0.078269,NaN,ID_2
2,0.583424,NaN,-1.339288,-1.424336,0.933319,-0.499844,-0.985079,-0.134118,-1.118695,NaN
3,-0.132760,-0.542812,-0.058752,0.464477,1.259569,0.371831,NaN,0.876396,1.629399,NaN
4,0.633921,-1.957882,1.157684,-0.133394,1.985012,1.233078,1.516252,1.203633,-1.953626,ID_5
5,-1.286479,1.038511,0.322563,NaN,-1.164571,-0.823765,-0.225103,1.954566,0.628027,ID_6
6,0.524400,0.291573,-1.347495,0.288280,1.417853,0.237470,-0.556213,-1.529604,1.298952,ID_7
7,0.425667,0.120947,0.011773,0.042123,-0.351223,0.848916,-0.567674,-0.214194,-1.087552,ID_8
8,0.337194,0.757933,0.207628,-0.068237,-0.535009,0.598312,-0.467320,-0.865594,-0.237971,ID_9
9,-1.714275,-0.979737,-1.347362,0.023567,0.369415,1.094148,1.238440,-1.763896,-0.548033,NaN
10,0.338621,1.167479,0.144416,1.486083,0.430166,1.095430,NaN,0.226063,-0.912369,ID_11
11,-0.475886,0.297003,0.054626,-0.276296,NaN,-0.857251,0.822665,-0.114949,0.051114,ID_12
12,-1.075486,-0.363177,0.913958,-0.697057,NaN,-1.084187,1.058910,-0.098201,-0.507087,NaN
13,1.269500,0.139269,0.238454,2.864364,-0.236606,0.541824,-0.887957,1.172131,1.125447,ID_14
14,1.334682,-2.060702,-2.027745,1.382236,-0.021958,-0.303970,-0.023974,0.747805,2.176925,ID_15
15,1.124579,0.289592,0.042539,1.328012,1.837153,0.885906,-0.413701,-1.047505,-0.980544,ID_16
16,-1.320234,1.207947,1.354538,-0.633017,-0.397038,0.262379,-1.075348,-1.013599,-0.977433,NaN
17,-0.963736,-0.418964,2.956340,0.964166,0.701580,1.485082,1.906604,1.303456,0.462136,ID_18
18,-1.166948,-1.188243,-0.608309,2.407845,0.716204,-1.634170,-0.593974,0.561712,-0.374917,NaN
19,0.846084,-0.531839,-1.805343,-0.923434,0.052716,-0.413433,-0.736673,-2.171205,1.174647,NaN
20,-0.688736,NaN,0.194795,0.179211,-0.789974,1.265266,-2.092732,0.016482,-0.802748,NaN
21,1.297833,NaN,0.372952,-1.302859,0.399067,0.113677,-2.012981,-0.387683,0.906984,ID_22
22,0.613219,-0.099798,0.918488,0.629237,0.290489,-0.065427,0.523212,-0.230810,0.820829,ID_23
23,0.139781,0.946392,-0.959182,-0.980491,-1.491790,1.475246,0.314561,0.814026,1.719341,ID_24
24,-0.241012,0.058813,-0.923417,-0.108759,-0.448265,-1.468487,1.410583,-0.398458,-0.271657,ID_25
25,0.661228,-0.460059,-0.019495,0.059678,0.978260,-0.447202,-2.609227,0.415381,0.137169,NaN
26,0.478312,-0.620225,1.428144,0.373259,1.032158,0.621055,-1.480726,-1.467091,-0.787663,NaN
27,-0.840370,-0.645159,-1.651487,0.079064,-0.044887,-1.782623,0.781953,-1.257649,-0.376005,NaN
28,1.415926,-0.788912,-0.104155,-0.675369,-1.393541,1.623493,1.439855,-0.247987,-1.921294,ID_29
29,0.076994,1.094329,0.322756,0.572815,1.118228,-0.942950,0.789231,0.761113,0.532501,ID_30
30,0.513877,0.879142,NaN,-0.209591,NaN,-1.375093,0.217290,-1.187140,0.419772,NaN
31,0.061596,2.028954,0.493122,-0.191811,-0.613950,-1.179393,-1.012382,0.633986,0.412899,NaN
32,0.017575,0.436680,-1.080768,-0.091826,1.526814,-0.839970,0.671927,0.361532,-0.689610,NaN
33,-2.951360,0.436223,-0.487574,-0.050623,-1.120643,0.356057,1.375232,-0.037873,0.559602,ID_34
34,-0.277619,0.323739,-0.388425,-1.112238,-1.594375,0.044370,0.351627,-0.035745,-1.092100,NaN
35,-1.654808,-0.738697,-0.175337,0.597594,-1.337905,0.341854,0.249584,-1.345172,0.414502,ID_36
36,0.844098,-1.008060,-1.480017,2.258009,0.163469,0.685431,-0.644315,-2.276899,-0.247949,NaN
37,0.286337,0.514114,-1.008943,-0.650328,0.449228,0.362396,-0.433840,1.089142,-0.499237,ID_38
38,-1.219167,-0.278087,-0.761401,-0.109621,-0.124737,-0.512845,1.743673,0.178681,-0.670187,ID_39
39,0.323089,-0.029390,0.511955,1.135358,0.201964,0.053903,0.060064,-0.323511,2.651317,NaN

In [51]:
# changing the id column position
column_name = list(data.columns)
column_name.insert(0, column_name.pop(-1))
data = data[column_name]
data.head()

,id,fan_id,table_id,board_id,door_id,cloth_id,book_id,bag_id,doll_id,light_id
0,NaN,-0.198041,0.983210,0.343357,0.873239,1.412006,0.412939,1.777955,1.172862,0.603329
1,ID_2,0.499106,0.859043,1.302655,0.638702,-1.861433,-0.392833,-1.237860,-0.078269,NaN
2,NaN,0.583424,NaN,-1.339288,-1.424336,0.933319,-0.499844,-0.985079,-0.134118,-1.118695
3,NaN,-0.132760,-0.542812,-0.058752,0.464477,1.259569,0.371831,NaN,0.876396,1.629399
4,ID_5,0.633921,-1.957882,1.157684,-0.133394,1.985012,1.233078,1.516252,1.203633,-1.953626

In [52]:
# Since the id column in 'data' dataframe is of int64 datatype, we change it to object datatype.
# We do this because the id column of 'df' dataframe is object datatype.
# Remember, to merge two dataframe object, it need to be same datatype.
data['id'] = data['id'].astype('object')

df = df.merge(data, left_on='id', right_on='id')
#df.head()

In [53]:
df.head()

,id,name,region,product,category,total_sales,quantity,date,revenue,cost,profit,discounted_price,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,fan_id,table_id,board_id,door_id,cloth_id,book_id,bag_id,doll_id,light_id
0,ID_2,Name_8,East,Arun,Clothing,6930.53,96,2022-01-02,9501.19,6113.22,3387.97,61.1322,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,0.499106,0.859043,1.302655,0.638702,-1.861433,-0.392833,-1.237860,-0.078269,NaN
1,ID_5,Name_18,West,anand,Food,6496.40,28,2022-01-04,9487.01,4717.43,4769.58,47.1743,NaN,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,0.633921,-1.957882,1.157684,-0.133394,1.985012,1.233078,1.516252,1.203633,-1.953626
2,ID_6,Name_16,North,senthalampoo,Food,995.36,19,2022-01-05,921.99,894.95,27.04,8.9495,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,-1.286479,1.038511,0.322563,NaN,-1.164571,-0.823765,-0.225103,1.954566,0.628027
3,ID_7,Name_15,East,Aran,Food,5056.51,14,2022-01-07,5043.52,3803.15,1240.37,38.0315,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,0.524400,0.291573,-1.347495,0.288280,1.417853,0.237470,-0.556213,-1.529604,1.298952
4,ID_8,Name_9,South,rama,Clothing,1879.74,23,2022-01-07,1911.91,1491.73,420.18,14.9173,NaN,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,0.425667,0.120947,0.011773,0.042123,-0.351223,0.848916,-0.567674,-0.214194,-1.087552

## 16. Create a DataFrame with only numerical columns from an existing DataFrame

In [55]:
numerical_features = [feature for feature in df.columns if df[feature].dtypes != 'O']
df = df[numerical_features]

In [56]:
df.head()

,total_sales,quantity,revenue,cost,profit,discounted_price,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,fan_id,table_id,board_id,door_id,cloth_id,book_id,bag_id,doll_id,light_id
0,6930.53,96,9501.19,6113.22,3387.97,61.1322,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,0.499106,0.859043,1.302655,0.638702,-1.861433,-0.392833,-1.237860,-0.078269,NaN
1,6496.40,28,9487.01,4717.43,4769.58,47.1743,NaN,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,0.633921,-1.957882,1.157684,-0.133394,1.985012,1.233078,1.516252,1.203633,-1.953626
2,995.36,19,921.99,894.95,27.04,8.9495,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,-1.286479,1.038511,0.322563,NaN,-1.164571,-0.823765,-0.225103,1.954566,0.628027
3,5056.51,14,5043.52,3803.15,1240.37,38.0315,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,0.524400,0.291573,-1.347495,0.288280,1.417853,0.237470,-0.556213,-1.529604,1.298952
4,1879.74,23,1911.91,1491.73,420.18,14.9173,NaN,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,0.425667,0.120947,0.011773,0.042123,-0.351223,0.848916,-0.567674,-0.214194,-1.087552

## 17. Extract the year from a datetime column called order_date

In [107]:
# Since we don't have any column called 'order_date' with datetime datatype, let's first create it
# We now create a column called 'order_date' with datetime datatype.
# We need to import datetime & timedelta method from datetime library.
from datetime import datetime, timedelta

# We now create 'start_date' & 'end_date' variables to generate random dates between those dates
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 12, 31)
random_dates = [start_date + timedelta(days=np.random.randint(0, (end_date - start_date).days))
               for _ in range(22)
               ]
df['order_date'] = random_dates

In [109]:
df.head()

,total_sales,quantity,revenue,cost,profit,discounted_price,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,fan_id,table_id,board_id,door_id,cloth_id,book_id,bag_id,doll_id,light_id,order_date
0,6930.53,96,9501.19,6113.22,3387.97,61.1322,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,0.499106,0.859043,1.302655,0.638702,-1.861433,-0.392833,-1.237860,-0.078269,NaN,2024-09-15
1,6496.40,28,9487.01,4717.43,4769.58,47.1743,NaN,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,0.633921,-1.957882,1.157684,-0.133394,1.985012,1.233078,1.516252,1.203633,-1.953626,2024-06-01
2,995.36,19,921.99,894.95,27.04,8.9495,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,-1.286479,1.038511,0.322563,NaN,-1.164571,-0.823765,-0.225103,1.954566,0.628027,2024-01-15
3,5056.51,14,5043.52,3803.15,1240.37,38.0315,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,0.524400,0.291573,-1.347495,0.288280,1.417853,0.237470,-0.556213,-1.529604,1.298952,2024-08-30
4,1879.74,23,1911.91,1491.73,420.18,14.9173,NaN,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,0.425667,0.120947,0.011773,0.042123,-0.351223,0.848916,-0.567674,-0.214194,-1.087552,2024-02-07

In [117]:
# Bringing the order_date column before rating column

column_order = list(df.columns)
column_order.insert(6, column_order.pop(-1))
df = df[column_order]
df.head()

,total_sales,quantity,revenue,cost,profit,discounted_price,light_id,order_date,rating,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,col_26,col_27,col_28,col_29,col_30,col_31,col_32,col_33,col_34,col_35,col_36,col_37,col_38,col_39,col_40,col_41,col_42,col_43,col_44,col_45,col_46,col_47,col_48,col_49,col_50,col_51,col_52,col_53,col_54,col_55,col_56,col_57,col_58,col_59,col_60,col_61,col_62,col_63,col_64,col_65,col_66,col_67,col_68,col_69,col_70,fan_id,table_id,board_id,door_id,cloth_id,book_id,bag_id,doll_id
0,6930.53,96,9501.19,6113.22,3387.97,61.1322,NaN,2024-09-15,NaN,315,800.21,158,618.55,327,733.08,284,175.23,48,793.92,133,935.30,281,99.59,429,554.37,476,606.33,387,199.22,17,783.83,416,870.71,216,544.54,198,819.19,106,523.37,60,631.80,482.0,53.94,207,191.55,315,168.22,309,914.20,149,974.55,450,682.02,339,81.20,252,897.70,434,450.48,54,914.17,476,699.77,376,877.58,255,186.32,177,0.499106,0.859043,1.302655,0.638702,-1.861433,-0.392833,-1.237860,-0.078269
1,6496.40,28,9487.01,4717.43,4769.58,47.1743,-1.953626,2024-06-01,NaN,348,482.80,118,381.16,482,997.24,192,901.35,129,217.20,107,783.18,237,4.28,231,542.04,379,988.02,479,540.29,95,778.25,71,710.36,325,70.22,101,492.71,180,701.41,180,522.77,396.0,963.98,260,301.10,147,252.35,249,45.91,180,815.45,55,842.73,199,541.08,69,218.43,108,993.55,321,925.93,57,637.23,463,625.65,239,79.24,250,0.633921,-1.957882,1.157684,-0.133394,1.985012,1.233078,1.516252,1.203633
2,995.36,19,921.99,894.95,27.04,8.9495,0.628027,2024-01-15,2.88,252,824.32,301,312.35,324,292.97,90,264.56,118,742.90,371,847.20,457,685.77,11,899.22,57,897.67,408,731.16,202,713.50,451,536.88,7,926.67,247,497.69,89,162.54,63,376.90,440.0,430.91,113,754.32,330,305.66,282,866.40,462,944.35,5,828.14,98,78.83,131,914.44,389,258.21,46,460.81,444,18.58,122,840.16,338,675.03,188,-1.286479,1.038511,0.322563,NaN,-1.164571,-0.823765,-0.225103,1.954566
3,5056.51,14,5043.52,3803.15,1240.37,38.0315,1.298952,2024-08-30,3.94,17,501.08,332,892.52,351,584.28,482,269.32,222,82.84,396,886.41,41,287.39,405,667.23,294,996.31,389,684.15,467,608.35,27,5.97,185,802.98,21,516.65,352,807.25,252,516.41,473.0,475.81,166,986.49,305,736.22,100,254.24,343,290.98,488,507.55,347,331.47,105,229.24,16,108.36,429,348.19,461,685.50,374,186.60,86,584.01,15,0.524400,0.291573,-1.347495,0.288280,1.417853,0.237470,-0.556213,-1.529604
4,1879.74,23,1911.91,1491.73,420.18,14.9173,-1.087552,2024-02-07,NaN,256,211.06,450,90.30,293,27.95,54,326.06,247,385.07,285,263.49,134,788.78,300,131.76,13,503.87,333,66.81,34,222.80,459,899.12,193,129.93,219,663.22,479,663.56,122,923.58,439.0,286.94,436,119.46,115,287.93,458,410.91,184,887.92,26,538.97,188,275.86,374,94.69,360,838.15,143,197.07,202,115.71,31,472.55,103,458.80,440,0.425667,0.120947,0.011773,0.042123,-0.351223,0.848916,-0.567674,-0.214194

In [123]:
df['order_date'].head()

0   2024-09-15
1   2024-06-01
2   2024-01-15
3   2024-08-30
4   2024-02-07
Name: order_date, dtype: datetime64[ns]

In [ ]:
extracted_year = [datetime(year = df['order_date'].str.split())]