## Import required libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Importing dataset

In [ ]:
# Let's import the dataset

df = pd.read_csv(r'E:\Study\Projects\EDA\generated_dataset.csv')
pd.set_option('display.max_columns', None)

In [ ]:
# Let's view the top 5 records of our dataset

df.head()

In [ ]:
# Let's find the no. of rows and columns of our dataset
df.shape

In [ ]:
# Let's see the information or description of our dataset like column names, datatype, null or not etc.

df.info()

## 1. Load csv file and display first 10 rows.

In [ ]:
# Since we have already loaded the dataset, we will display the first 10 rows.

df.head(10)

## 2. Filter the rows in a DataFrame where the column sales is greater than 1000.

In [ ]:
greater_sales = df[df['sales'] > 1000]
greater_sales

## 3. Select only columns 'name' and 'sales'

In [ ]:
name_and_sales = df[['name','sales']]
name_and_sales

## 4. Sort a DataFrame by the column date in ascending order

In [ ]:
df['date'] = sorted(df['date'])
df.head()

## 5. Add a new column called profit which is the difference between the columns revenue and cost

In [ ]:
df['profit'] = df['revenue'] - df['cost']

In [ ]:
df.head()

## 6. Rename the column sales to total_sales

In [ ]:
# Renaming the column sales to total_sales

df.rename(mapper={'sales':'total_sales'},axis=1, inplace=True)

In [ ]:
df.head()

## 7. Drop all rows with missing values in any column of the DataFrame

In [ ]:
df = df.dropna()
df

In [ ]:
# This is to check whether the dataframe is null or not.
#If it is null, the specific column will give the output more than 0.

df.isnull().sum()

## 8. Find the number of unique values in the column region

In [ ]:
df.head()

In [ ]:
# Below is the code to find the no. of unique values in the region column
df['region'].nunique()

## 9. Group the DataFrame by the column category and calculate the sum of sales for each group

In [ ]:
# Below is the code to group the category and the sum of sales for each group.
group_sales = df.groupby('category')['total_sales'].sum()
group_sales

## 10. Create a DataFrame from a dictionary of lists

In [ ]:
# Let's create a data argument of DataFrame using dict and index using the split().
dat = pd.DataFrame(
    {
    'S.No':list(range(1, 7)),
    'Name':'Arun Kumar Shanmuga Priya Mithran Tharika'.split(),
    'Age': [35, 30, 8, 3, 35, 30]
    },index='Fa ther Mo ther Fkid Skid'.split()
)
dat

In [ ]:
# Let's create a dataframe using random numerical values of numpy library.
# This is just another way of creation of dataframe.

from numpy.random import randn
data = pd.DataFrame(randn(40,9), list(range(0,40)), 'fan_id table_id board_id door_id cloth_id book_id bag_id doll_id light_id'.split())
data.iloc[1, 8] = np.nan  # Missing value in row 1, column 8
data.iloc[2, 1] = np.nan  # Missing value in row 2, column 1
data.iloc[3, 6] = np.nan  # Missing value in row 3, column 6
data.iloc[5, 3] = np.nan  # Missing value in row 5, column 3
data.iloc[10, 6] = np.nan  # Missing value in row 10, column 6
data.iloc[11:13, 4] = np.nan  # Missing value in row 10, column 6
data.iloc[20:22, 1] = np.nan  # Missing values in rows 20-21, column 1
data.iloc[30, [2, 4]] = np.nan  # Missing values in row 30, columns 2 and 4

In [ ]:
data.head(20)

## 11. Check if there are any missing values in a DataFrame

In [ ]:
# Let's check if there is any missing values in dataframe. We can do this in 2 ways.
# First way which is straight forward.

data.isnull().sum()

In [ ]:
# Check the total missing values in a dataframe.
len(data.isnull().sum())

In [ ]:
# Second method to check the null values of a dataframe using list comprehension
nan_feature = [feature for feature in data.columns if data[feature].isnull().sum() > 1]
for feature in nan_feature:
    print(f'{feature}: {np.round(data[feature].isnull().mean(), 4)} % of null values')
    #print(f'{feature} {np.round(df[feature]).isnull().mean(), 4} : % of features')

In [ ]:
nan_feature

## 12. Replace all occurrences of the value -1 in the column rating with NaN

In [ ]:
# Since we don't have -1 in rating column we will replace few values listed below with -1
# Note, we are using 'df' dataframe and not 'data' dataframe.
df.replace([1.11, 1.58, 3.49, 4.05, 3.89, 1.27], [-1, -1, -1, -1, -1, -1], inplace=True)
df.head(50)

In [ ]:
# Let's now replace all -1 values with NaN
df.replace(-1, np.NaN, inplace=True)
df.head(50)

## 13. Filter rows where the column product starts with the letter A

In [ ]:
# Since we don't have any values that starts with A, we will first replace few values with A.
df.replace('Product_3 Product_19 Product_12 Product_7 Product_2 Product_11 Product_16 Product_19'.split(),
           'Arun arumugam rama senthalampoo shiva senathipathi Aravind Aran'.split(), inplace=True)
#column_with_A = df['product'].filter(like = 'A')
#column_with_A

In [ ]:
# Filtering the product column values that starts with A only
# Remember since python is case sensitive, it ignored a column value that starts with small 'a'

columns_with_A = df[df['product'].str.startswith('A')]
columns_with_A

## 14. Add a column called discounted_price by applying a 10% discount to the price column

In [ ]:
df['discounted_price'] = 0.01 * df['cost']
df.head()

In [ ]:
# Move the position of columns. The column discounted_price & profit are in the last position.
# Moving it to the 11 position
#column = list(df.columns)
#column.insert(11, column.pop(-1))
#df.head()
columns_to_move = ['profit', 'discounted_price']
new_order = (list(df.columns[:10]) + columns_to_move + list(df.columns[10:-2]))
df = df[new_order]
df.head()

In [ ]:
df.shape

## 15. Merge two DataFrames on a common column called id

In [ ]:
#data.shape
# Since we don't have id column in 'data' dataframe we first create it to merge with 'df' dataframe
data['id'] = df['id']
data.head()

In [ ]:
data.shape

In [ ]:
# changing the id column position
column_name = list(data.columns)
column_name.insert(0, column_name.pop(-1))
data = data[column_name]
data.head()

In [ ]:
# Since the id column in 'data' dataframe is of int64 datatype, we change it to object datatype.
# We do this because the id column of 'df' dataframe is object datatype.
# Remember, to merge two dataframe object, it need to be same datatype.
data['id'] = data['id'].astype('object')

df = pd.merge(df, data, on='id', how = 'inner')
df.head(60)

In [ ]:
df.shape

## 16. Create a DataFrame with only numerical columns from an existing DataFrame

In [ ]:
numerical_features = [feature for feature in df.columns if df[feature].dtypes != 'O']
df[numerical_features]

In [ ]:
df.head()

## 17. Extract the year from a datetime column called order_date

In [ ]:
# Since we don't have any column called 'order_date' with datetime datatype, let's first create it
# We now create a column called 'order_date' with datetime datatype.
# We need to import datetime & timedelta method from datetime library.
from datetime import datetime, timedelta

# We now create 'start_date' & 'end_date' variables to generate random dates between those dates
start_date = datetime(2024, 1, 1)
end_date = datetime(2024, 12, 31)
random_dates = [start_date + timedelta(days=np.random.randint(0, (end_date - start_date).days))
               for _ in range(22)
               ]
df['order_date'] = random_dates

In [ ]:
df.head()

In [ ]:
# Bringing the order_date column before rating column

column_order = list(df.columns)
column_order.insert(6, column_order.pop(-1))
df = df[column_order]
df.head()

In [ ]:
# Now, let's extract the year alone with simple dt.year property in datetime datatype
extracted_year = df['order_date'].dt.year
extracted_year

## 18. Save a DataFrame to a CSV file named output.csv

In [ ]:
# Let's save the dataframe in csv format using 'df' dataframe

df.to_csv(r'E:\Study\Projects\EDA\output_pandas_practice.csv')

## 19. Reset the index of a DataFrame

In [ ]:
rst_indx = df.reset_index()
rst_indx

## 20. Find the total sum of the column quantity

In [ ]:
sum_of_quantity = df['quantity'].sum()
sum_of_quantity

## 21. Extract rows where the rating column is between 3 and 4 (inclusive)

In [ ]:
# We can use comparison operator here.
# Remember python normal 'and' operator will throw error. we need to use '&' operator for more than one condition.
# Also, note the parenthesis used for the seperation of two operations.

rating_three_four = [feature for feature in (df['rating'] >= 3) & (df['rating'] <= 4)]
df[rating_three_four]

## 22. Find the maximum value in the column profit grouped by region

In [ ]:
# Let's group the maximum profit region wise
df.groupby('region')['profit'].max()

In [ ]:
# Plotting the above maximum profit region wise in bar plot.

df.groupby('region')['profit'].max().plot(kind='bar')
plt.title('Region wise maximum profit')
plt.xlabel('Region')
plt.ylabel('Profits')
plt.show()

## 23. Create a pivot table with region as the index and sales as the values

In [ ]:
# Let's create the pivot table using the 'df' dataframe which is a mandatory argument.
# The 'region' is used as an index and 'total_sales' is used as values argument.

pivot_table = pd.pivot_table(data=df, values='total_sales', index='region')
pivot_table

## 24. Drop duplicate rows based on the product_id column

In [ ]:
# We first check the columns having duplicate rows
df.duplicated().sum()

In [ ]:
# Since there is no duplicate rows in the above step, we are skipping the step of dropping the duplicates.
# Since no duplicates, below code will not work.
#df.drop_duplicates(inplace= True)

## 25. Concatenate two DataFrames vertically

In [ ]:
# We can concatenate the dataframes 'dat', 'data'.
# Note that the dataframes are passed in list as an argument.
concatenated_df = pd.concat([dat, data])
concatenated_df

## 26. Replace all NaN values in a DataFrame with the mean of their respective columns

In [ ]:
# Let's bring all the NaN value features first using list comprehension.
missing_features = [feature for feature in df.columns if df[feature].isnull().sum() > 0]
missing_features

In [ ]:
# Let's replace the NaN values of all features with their mean values.
for feature in missing_features:
    df[feature] = df[feature].fillna(df[feature].mean())

## 27. Find the average sales for each region and save the result as a new DataFrame

In [ ]:
average_sales_df = pd.DataFrame(df.groupby('region')['total_sales'].mean())
average_sales_df

## 28. Convert a column price from a string to a float data type

In [ ]:
# Since the 'discounted_price' column is already in float64 dtype, we skip this process.
# Perhaps, the below code works if the 'discounted_price' is of str datatype.
#str_datatype = df['discounted_price'].astype(float64)

## 29. Extract all rows where the column status is either Shipped or Pending

In [ ]:
df.shape

In [ ]:
# Since there is no status column we will first create a new column.
# We create the new status column with 5 values shipped, pending, delivered, returned, ordered.
status_values = ['shipped', 'pending', 'delivered', 'returned', 'ordered']
df['status'] = np.random.choice(status_values, size=len(df))
df.head()

In [ ]:
# Change the status column position from last to 13
status_position = list(df.columns)
status_position.insert(13, status_position.pop(-1))
df = df[status_position]

In [ ]:
df.head()

In [ ]:
filtered_status = df[df['status'].isin(['shipped', 'pending'])]
filtered_status

## 30. Add a column that contains the cumulative sum of the sales column

In [ ]:
# Let's use a cumsum() method to find the cumulative sum of any column.
df['cumulative_sales'] = df['total_sales'].cumsum()
df.head()

## 31. Extract all rows where the column name contains the substring "John"

In [ ]:
# Let's use str.contains() method to extract row values as 'John'
# Since we don't have any one under the substring 'John', it returned an empty dataframe
sub_string_john = df[df['product'].str.contains('John')]
sub_string_john

## 32. Filter rows where the column quantity is a multiple of 5

In [ ]:
quantity_of_five = df[df['quantity'] % 5 == 0]
quantity_of_five

## 33. Count the number of rows in each category in the column product_type

In [ ]:
# Let's use value_counts() to check the no.of rows in each category in product column.
# value_counts() displays the values from largest to lowest/
count_of_product_type = df['product'].value_counts()
count_of_product_type
# Below code also displays the no.of rows in each category. This displays the values in alphabetical order of category.
#count_of_product_type = df.groupby('product').size()
#count_of_product_type

## 34. Find the correlation between numerical columns in a DataFrame

In [ ]:
# Correlation can found in dataframe using dataframe.corr().
# Since we already have numerical_features, we put the dataframe around it and use .corr()
corr_matrix = df[numerical_features].corr()
corr_matrix

In [ ]:
# We can also display the correlation using heatmap from seaborn library.
sns.heatmap(df[numerical_features].corr(), annot=True)

## 35. Convert the order_date column to a datetime object

In [ ]:
# Before changing the datatype, let's check the dtypes first.
col_types = df.dtypes.to_dict()
col_types
# We can also check the datatypes of all columns as per below
# df.dtypes

In [ ]:
# Now we will change the datatype of 'order_date' column from '<M8[ns]' to datetime
type_change = pd.to_datetime(df['order_date'])
df.info()
# We can also below code to change it to datetime datatype. But this is not the best practice.
#type_change = df['order_date'].astype('datetime64[ns]')

## 36. Slice the first 5 rows of the DataFrame and reset their index

In [ ]:
# Slice the first 5 rows of the DataFrame and reset their index
sliced_dataframe = df.iloc[:5].reset_index(drop=True)
sliced_dataframe

## 37. Multiply all values in the column quantity by 2

In [ ]:
multiply_by_two = df['quantity'] * 2

In [ ]:
multiply_by_two

## 38. Check if any column in the DataFrame has duplicate values

In [ ]:
# To just check the dataframe is duplicated or not, below code will work.
# sum() will give the output in integer. If except '0' any number is displayed, it means the duplicates are there
df.duplicated().sum()

## 39. Export the DataFrame to an Excel file with the name data.xlsx

In [ ]:
# Let's export the dataframe to an excel.
df.to_excel(r'E:\Study\Projects\EDA\data.xlsx')

## 40. Remove all columns with more than 50% missing values

In [ ]:
# Below is the code for removing all columns greater than 50% of missing values.
# Since we don't have any missing value greater than 50%, it returned an empty list.
half_missing_values = [feature for feature in df.columns if df[feature].isnull().mean() > 0.50]
half_missing_values

## Moderate type of questions

## 1.Find the top 3 products with the highest sales in each region

In [ ]:
# Below is the code for finding the top 3 products with highest sales in each region.
# Let's group by 'region' and apply an arbitrary function for the top 3 product sales
top_three_products = df.groupby('region').apply(lambda x: x.nlargest(3, 'total_sales').reset_index(drop=True))
top_three_products
# Below code also provides the same result. But we use sort_values()
#df_sorted = df.sort_values(['region', 'total_sales'], ascending=[True, False])
#final_value = df_sorted.groupby('region').head(3)
#final_value

## 2.Create a new column called sales_category that labels sales values as "Low", "Medium", or "High" based on thresholds

In [ ]:
# The expectation is 'total_sales' value from 0 to 3999 must be labelled as low
# and from 3999 to 6999 must be labelled as medium
# and above 7000 must be labelled as high.
# To stamp the 'total_sales' values with some labels based on threshold, we use cut() from pandas.

# bins - an integer values that segerate the entire 'sales_category' values based on label types.
# labels - a string that stamps the 'sales_category' values based on bins

bin_values = [0, 4000, 7000, 9000]
category_labels = 'Low Medium High'.split()
df['sales_category'] = pd.cut(df['total_sales'], bins = bin_values, labels = category_labels, right = False)

In [ ]:
df.head()

## 3.Fill missing values in the price column using the median of the column

In [ ]:
# Since we don't have price column in our dataframe, let's first create it.
# We create the price column with some random numbers from 1 to 100 for the whole dataframe.
df['price'] = np.random.randint(1, 100, len(df))
# We now insert the NaN values randomly for the given size(9 rows will have NaN values)
df.loc[np.random.choice(df.index, size=9, replace=False), 'price'] = np.nan

In [ ]:
df['price'].isnull().sum()

In [ ]:
df.head()

In [ ]:
# We will first bring the price column to the right and then fill missing values with their median

price_position = list(df.columns)
price_position.insert(7, price_position.pop(-1))
df=df[price_position]

# Let's now fill missing values with median()
#df['price'].fillna(df['price'].median(), inplace=True)
df.fillna({'price': df['price'].median()}, inplace=True)

In [ ]:
df.head()

## 4.Write a function to calculate the profit margin and apply it to the DataFrame

In [ ]:
# Let's first see the profit margin formula
# profit margin = (profit/sales) * 100
def calculate_profit_margin(profit, sales):
    return (profit/sales) * 100

# Let's now apply the calculate_profit_margin function to the new column 'profit_margin'
# Note, we use the arbitrary function lambda and use the same variable 'x' for passing the arguments.
df['profit_margin'] = df.apply(lambda x:calculate_profit_margin(x['profit'], x['total_sales']), axis=1)

In [ ]:
df.head()

## 5.Extract rows where the order_date falls within a specific date range

In [ ]:
# Let's use between() and specify the dates in string format. (i.e) in quotes.
# Remember, do not use isin() and use range() for dates. As range() is for integers and cannot be used for datetime object.
order_date_range = df[df['order_date'].between('2024-8-19' , '2024-12-17')]
order_date_range

## 6.Write a script to normalize all numerical columns in the DataFrame to a scale of 0 to 1

In [ ]:
# To normalize the Dataframe between 0 and 1 we need to use MinMaxScaler class of preprocessing module from sklearn library
# Note, StandardScaler() will scale between -1 and 0.

from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df[numerical_features] = scaler.fit_transform(df[numerical_features])

In [ ]:
df[numerical_features]

## 7.Merge two DataFrames on multiple columns (id and region)

In [ ]:
# Since we don't have region column in 'data' Dataframe, let's first create it.
region_values = 'southern eastern western northern zonal divisional'.split()
data['region'] = np.random.choice(region_values, size = len(data))

# Now, let's merge both 'df' and 'data' Dataframe on multiple columns (id & region)
# Since there are no common value in both Dataframe, the resultant will be an empty Dataframe.
merged_df = pd.merge(df, data, on=['id', 'region'], how='inner')

In [ ]:
# merged_df will be empty since no value in common in both Dataframe
merged_df.head()

In [ ]:
df.head()

## 8.Create a multi-index DataFrame and access specific rows using multi-level indexing

In [ ]:
# multi indexing is possible in pandas using 'pd.MultiIndex' class and 'from_tuples()'.
# We need to pass a list of tuples and names (names of indexes)

index_dataframe = pd.MultiIndex.from_tuples([('India', 'Tamil Nadu'),
                                             ('India', 'Kerala'),
                                             ('Canada', 'Toronto'),
                                            ('Canada', 'Montreal'),
                                            ('America', 'San Francisco'),
                                            ('America', 'Chicago'),],names=('Country', 'State'))

# Now we create a dataframe and pass the index argument as the variable name created above.
# randint(20, 2980) denotes a random number starting from 20 to 2980 to be filled in the dataframe
# size(6,4) denotes 6 rows and 4 columns.
multi_index = pd.DataFrame(np.random.randint(20, 2980, size=(6,4)),
                           index_dataframe,
                           'Purchase Sales Profit Margin'.split())

In [ ]:
multi_index.head(40)

## 9.Create a histogram for the column quantity and find the most frequent bin

In [ ]:
# We can create histogram using plt.hist(), sns.histplot(), np.histogram(). But we are using plt.hist() here

#plt.hist() returns three outputs. We unpack them using the variables 'counts, bin_edges, patches.

#counts - It is an array that gives the frequency (count of values) of the each bin (here [2. 2. 3. 0. 2. 3. 3. 2. 2. 3.])

#bin_edges - It is an array that gives the bin edges or the value of 
#each bin in x-axis (here [0.  0.1 0.2 0.3 0.4 0.5 0.6 0.7 0.8 0.9 1. ])

#patches - This is a list of patch objects. here(region xy=(2,0), width=19.8, height=2, angle=0)
counts, bin_edges, patches = plt.hist(df['quantity'], bins=10, color='blue', edgecolor='black')

#np.argmax() gives the indices of the value of the highest bin along the axis.(here 2 is the bin with highest frequency)
max_bin_index = np.argmax(counts)

#Now we need to get the starting point and end point of the largest bin with highest frequency
most_frequent_bin = (bin_edges[max_bin_index], bin_edges[max_bin_index + 1])

#plt.axvspan() Add a vertical span (rectangle) across the Axes. 
#plt.axvspan() highlights the most frequent bin in the histogram using a shaded region.
plt.axvspan(most_frequent_bin[0], most_frequent_bin[1], color='red', alpha=0.3, label='most frequent bin')
plt.xlabel('Quantity')
plt.ylabel('Frequency')
plt.title('Seaborn Histogram of Quantity')
plt.legend()
print(f"Most Frequent Bin Range: {most_frequent_bin}, Count: {counts[max_bin_index]}")
plt.show()

In [ ]:
# We can use try exception to throw the error
#try:
#    counts, bins, patches = plt.hist(df['quantity'], bins=10)
#except Exception as e:
#    print(f"Unpacking Error: {e}")

## 10.Extract rows where the column description has a specific word, ignoring case sensitivity

In [ ]:
#df.loc[4, 'category']
df[df['category'].str.contains('in', case=False, na=False)]

## 11.Write a script to calculate the percentage of missing values for each column

In [ ]:
null_features = [feature for feature in df.columns if df[feature].isnull().sum() > 0]
for fea in null_features:
    print(f'{fea}: {np.round(df[fea].isnull().mean() * 100, 4)} % of missing values')

In [ ]:
def missing_value_percent(df):
    null_features = df.isnull().mean() * 100
    missing_df = pd.DataFrame({'columns': df.columns, 'missing_features': null_features})
    missing_df = missing_df[missing_df['missing_features'] > 0]
    return missing_df.sort_values(by='missing_features', ascending = False)

In [ ]:
missing_value_percent(data)

## 12.Create a DataFrame showing the rank of sales within each region

In [ ]:
#df.groupby('region').apply(lambda x:x.assign(sales_rank=x['total_sales'].rank(ascending=False, method='dense')))
df['sales_rank'] = df.groupby('region')['total_sales'].rank(ascending=False, method='dense')
df

In [ ]:
# To list out all pandas Dataframe methods excluding attributes.
# There are about 390 methods only excluding attributes in total.
methods = [method for method in dir(df) if callable(getattr(df, method))]
methods_df = pd.DataFrame({'Formattable_methods':methods})
pd.set_option('display.max_rows', None)
methods_df

In [ ]:
# To list out all pandas Dataframe methods including attributes.
# There are about 526 methods including attributes and methods.
df_methods = dir(df)
listed_df = pd.DataFrame({'All Methods including attributes':df_methods})
pd.set_option('display.max_rows', None)
listed_df

In [ ]:
# To check the structrure of methods like rank or to find the parameters.
# This will help when intellisense not works sometime and difficult to find the parameters.
help(pd.DataFrame.rank)
# You can also give in below format.
# help(df.rank)

In [ ]:
# Another way to check the structure of a method like rank.
# This way works only when we are working in environments like jupyter notebook.
pd.DataFrame.rank?
# Below format also works
#df.rank?

In [ ]:
# Another way to check the structure of methods like rank.
# You need to import inspect module before using it.
# Use signature method
import inspect
print(inspect.signature(pd.DataFrame.rank))

## 13.Find all rows where the sales column is equal to its maximum value

In [ ]:
df[df['total_sales']==df['total_sales'].max()]

In [ ]:
# How to check the result of a function or an output is a single scalar value or pandas Series or DataFrame
# First, We can use type()
max_value = df['total_sales'].max()
series_result = df['total_sales']
dataframe_result = df[df['total_sales']==df['total_sales'].max()]
print(type(max_value))
print(type(series_result))
print(type(dataframe_result))
# If the output is '<class 'float'>' then it's a scalar value. Meaning, it is just a single number.
# If the output is '<class 'pandas.core.series.Series'>' then it's a Series. It is a pandas series
# If the output is '<class 'pandas.core.frame.DataFrame'>' then it's a DataFrame.
# Second, we can use 'ndim' method. The output will be 0, 1 & 2. If 0-> scaler, 1-> series, 2-> DataFrame
print(dataframe_result.ndim)

In [ ]:
type(df['total_sales'].max())

## 14.Create a rolling average for the column profit with a window size of 3

In [ ]:
# rolling means that the calculation (like sum, mean, etc.) will be performed on a moving window of 3 consecutive values.
# The rolling calculation will be done based on a value provided in window parameter.
df['rolling_profit_average'] = df['profit'].rolling(window=3).mean()
df.head()

## 15.Split a column full_name into two columns: first_name and last_name

In [ ]:
# We use 'data' DataFrame and not 'df' for this question.
# Since we don't have any full_name column or other column to split, we first create in a data DataFrame.
full_name = ['John Doe', 'Shahrukh Khan', 'Arnold Dan', 'Brown Dean']
# We randomly fill the above names in the 'full_name' column (df['full_name'])
data['full_name'] = np.random.choice(full_name, size=len(data))

In [ ]:
# We now create 2 columns ('first_name' & 'last_name') to split the 'full_name'
# fillna("") -> not mandatory. But helps to fill NaN when the second name is not available. eg.'John' only
# n=1 -> helps to split name by first space. eg. John Madonna Doe means, John as first name and Madonna Doe as second name.
data[['first_name', 'last_name']] = data['full_name'].fillna("").str.split(n=1, expand=True)

In [ ]:
data.head()

## 16.Create a bar plot of total sales for each region

In [ ]:
# Let's create a bar plot of total sales for each region using groupby()
df.groupby('region')['total_sales'].sum().plot(kind='bar', color='blue', edgecolor='black')
plt.title('Total sales of each region')
plt.xlabel('Region')
plt.ylabel('Total Sales')
plt.show()

## 17.Calculate the z-score for the sales column and create a new column called z_score

In [ ]:
# Formula for z-score is (x-mu)/sigma.
# where x is the individual 'total_sales' value. In our case (0.762919, 0.712614, 0.075173, 0.545764 etc..)
# mu is the mean of all 'total_sales' value or the 'total_sales' column. We have a direct method in pandas as mean()
# sigma is the standard deviation of 'total_sales' value or the 'total_sales' column. We have a direct method in pandas as std()
mean_total_sales = df['total_sales'].mean()
standard_deviation_total_sales = df['total_sales'].std()
df['z-score'] = (df['total_sales'] - mean_total_sales)/standard_deviation_total_sales

# We can also achieve this in 2 steps using scipy library
# We have a readymade method called zscore in stats module of scipy library.
#from scipy.stats import zscore
#df['z_score_total_sales'] = zscore(df['total_sales'])

## 18.Group by region and find the percentage contribution of sales for each region

In [ ]:
df.groupby('region').apply(lambda x:x.assign(percent_contribution=(x['total_sales']/x['total_sales'].sum())*100))
df[['region','total_sales']]
# We can also achieve the above requirement using transform()
#df.groupby('region')['total_sales'].transform(lambda x:(x/x.sum())*100)

## 19.Write a function to check if a column has outliers and return the rows containing them

In [ ]:
# Let's create a definition using the parameters df, column, method & threshold.
# method-This argument helps the developer to give the flexibility of type of outlier detection such as z-score or IQR.
def detect_outliers(df, column, method='iqr', threshold=1.5):
    try:
        #column = df.columns
        if method == 'zscore':
            mu_mean = df[column].mean()
            std_dev = df[column].std()
            return df[((df[column]-mu_mean) / std_dev).abs() > threshold]
        elif method == 'iqr':
            q1 = df[column].quantile(0.25)
            q3 = df[column].quantile(0.75)
            iqr = q3 - q1
            lower_bound = q1 - threshold * iqr
            upper_bound = q3 + threshold * iqr
            return df[(df[column] < lower_bound) | (df[column] > upper_bound)]
        else:
            raise ValueError ('Method must be either IQR or Z-Score')
    except Exception as e:
        print(f"The error is {e}")

In [ ]:
# Since we don't have a huge threshold for 'total_sales' column we pass it as 0.3 to get the result.
detect_outliers(df, 'total_sales', method='iqr', threshold=0.3)

## 20.Convert a column with currency values (e.g., "$100") into numerical values

In [ ]:
# Since we don't have the currency values, let's first create it.
df['currency'] = np.random.randint(20, 800, size=len(df))
# Now we shall add '$' as currency prefix to all 'currency' values. This can be achieved in 3 ways.
df['currency'] = df['currency'].apply(lambda x:f"${x:.2f}") # first method, using apply()
#df['currency'] = df['currency'].map("${:,.2f}".format) # using map()
#df.style.format({"currency":"${:,.2f}"}) # using style.format()

In [ ]:
# Now let's convert the currency column into numerical column by removing the '$' symbol
# The regex pattern is used in replace() and removes the $ sign
# Finally converting the Object type to float datatype.
df['currency'] = df['currency'].str.replace(r'[^\d.]', "", regex=True).astype(float)

In [ ]:
df.head()

## 21. Extract all rows where the column id has duplicate values

In [ ]:
# Since there is no duplicate in 'ID' column, we get an empty row as the result.
df[df['id'].isnull()]

## 22.Create a stacked bar chart for sales across region and category

In [ ]:
df.groupby(['region', 'category'])['total_sales'].sum().unstack().plot(kind='bar', stacked=True)
plt.title('Stacked Bar Chart of Sales by Region and Category')
plt.xlabel('Region')
plt.ylabel('Total_Sales')
plt.legend(title='Category')
plt.xticks(rotation=0)
plt.show()

In [ ]:
"""
# Another method to Create a stacked bar chart for sales across region and category

# Step 1: Pivot the Data to get stacked values
df_pivot = df.pivot(index='region', columns='category', values='total_sales')

# Step 2: Set up plot
fig, ax = plt.subplots(figsize=(8, 6))

# Define colors for categories
colors = sns.color_palette("Set2", len(df_pivot.columns))

# Step 3: Plot each category stacked on the previous one
bottom = None
for idx, category in enumerate(df_pivot.columns):
    sns.barplot(x=df_pivot.index, y=df_pivot[category], color=colors[idx], ax=ax, label=category, bottom=bottom)
    bottom = df_pivot[category] if bottom is None else bottom + df_pivot[category]

# Step 4: Customize the chart
plt.title('Stacked Bar Chart of Sales by Region and Category')
plt.xlabel('Region')
plt.ylabel('Total Sales')
plt.legend(title='Category')
plt.xticks(rotation=0)

# Step 5: Show the Plot
plt.show()
"""

## 23.Write a script to identify and remove outliers from the column quantity

In [ ]:
# We use zscore method to identify outliers of 'quantity' column.
# The default threshold value for zscore is 3
# We use zscore formula(x-mu/sigma) to calculate
# |z| > 3 (absolute values of z-score) greater than 3 are outliers.
mean_quantity = df['quantity'].mean()
std_quantity = df['quantity'].std()
df['quantity'] = df[((df['quantity']-mean_quantity)/std_quantity).abs() > 3]