# Difficult type questions of pandas practice. #

## We use DataFrame from pandas practice kernel that is being extracted into csv format

In [3]:
# Let's import all necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r'E:\Study\Projects\EDA\pandas_practice_dataframe_output.csv')
df.head()

,id,name,region,product,category,total_sales,order_date,price,quantity,date,...,doll_id,light_id,cumulative_sales,sales_category,profit_margin,sales_rank,rolling_profit_average,z-score,currency,average_indicator
0,ID_2,Name_8,East,Arun,Clothing,0.762919,2024-02-15,38.0,1.000000,2022-01-02,...,1.000000,0.429664,6930.53,Medium,48.884717,2.0,NaN,0.587069,98.0,Above Average
1,ID_5,Name_18,West,Product_8,Food,0.712614,2024-01-24,57.0,0.268817,2022-01-04,...,0.702105,0.456353,13426.93,Medium,73.418817,4.0,NaN,0.434000,623.0,Above Average
2,ID_6,Name_16,North,senthalampoo,Food,0.075173,2024-07-10,47.0,0.172043,2022-01-05,...,0.355292,0.576605,14422.29,Low,2.716605,5.0,0.512865,-1.505593,688.0,Below Average
3,ID_7,Name_15,East,Aran,Food,0.545764,2024-09-25,38.0,0.118280,2022-01-07,...,0.706123,0.458541,19478.80,Medium,24.530160,5.0,0.391797,-0.073686,24.0,Below Average
4,ID_8,Name_9,South,rama,Clothing,0.177651,2024-08-27,38.0,0.215054,2022-01-07,...,0.503804,0.220327,21358.54,Low,22.353091,3.0,0.146606,-1.193772,353.0,Below Average

## 1.Write a script to impute missing values in a DataFrame using KNN

In [8]:
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import KNNImputer

# Seperate the datetime columns
date_time_features = df.select_dtypes(include=['datetime64']).columns
numerical_features = df.select_dtypes(include=['number']).columns
categorical_features = df.select_dtypes(include=['object']).columns

# Encoding categorical variables
label_encoders = {}
for col in categorical_features:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col].astype(str))
    label_encoders[col] = le

# Exclude datetime columns before imputation
df_numeric = df[numerical_features.union(categorical_features)] # keep only numeric and categorical variables

# Apply KNN imputer
imputer = KNNImputer(n_neighbors=3)
df_imputed = pd.DataFrame(imputer.fit_transform(df_numeric), columns=df_numeric.columns)

# Decode categorical variables
for colu in label_encoders:
    df_imputed[colu] = df_imputed[colu].round().astype(int)
    df_imputed[colu] = label_encoders[colu].inverse_transform(df_imputed[colu])

print(df_imputed)

   average_indicator    bag_id  board_id   book_id     category  cloth_id  \
0      Above Average  0.613341  0.436119  0.904917     Clothing  0.923711
1      Above Average  0.294167  1.000000  0.585766         Food  0.887395
2      Below Average  0.215403  0.697915  0.863709         Food  0.911999
3      Below Average  0.359435  0.069997  0.262973         Food  0.313493
4      Below Average  0.561757  0.893666  0.798554     Clothing  0.362644
5      Above Average  0.884667  0.481267  0.480461  Accessories  0.835687
6      Above Average  0.473555  0.715940  0.532736    Furniture  0.599012
7      Below Average  0.799988  0.198517  0.491860  Accessories  0.618824
8      Below Average  0.100066  0.866201  0.444671  Electronics  0.760513
9      Below Average  0.420646  0.219301  0.156668         Food  0.319139
10     Above Average  1.000000  0.330687  0.450373    Furniture  0.785465
11     Above Average  0.764678  0.365677  0.409638  Accessories  0.870535
12     Below Average  0.000000  0.750859  0.654871         Food  1.000000
13     Below Average  0.443078  0.000000  0.697532    Furniture  0.516682
14     Below Average  0.493748  0.391721  0.582093  Electronics  0.829313
15     Below Average  0.337214  0.804726  0.778820    Furniture  0.012034
16     Above Average  0.088145  0.782284  0.811691  Electronics  0.000000
17     Above Average  0.543805  0.030216  0.315589  Accessories  0.655491
18     Below Average  0.456831  0.893364  1.000000    Furniture  0.660544
19     Below Average  0.734372  0.607975  0.268737  Electronics  0.705835
20     Above Average  0.270893  0.289552  0.813360     Clothing  0.645817
21     Below Average  0.562423  0.129078  0.000000         Food  0.399990

      col_12    col_13    col_14    col_15  ...    rating  region   revenue  \
0   0.620332  0.752840  0.295983  0.666760  ...  0.458984    East  0.772361
1   0.688797  0.347241  0.211416  0.378013  ...  0.458984    West  0.771160
2   0.489627  0.783649  0.598309  0.294317  ...  0.465625   North  0.045834
3   0.002075  0.370599  0.663848  1.000000  ...  0.796875    East  0.394864
4   0.497925  0.000000  0.913319  0.024229  ...  0.458984   South  0.129665
5   0.307054  0.155207  0.213531  0.328290  ...  0.387500   North  0.676593
6   0.000000  0.671493  1.000000  0.295789  ...  0.458984    East  0.565497
7   0.238589  0.375583  0.219873  0.717068  ...  0.458984    West  0.282607
8   0.470954  0.867053  0.659619  0.660861  ...  0.003125   South  0.000000
9   0.881743  1.000000  0.913319  0.793052  ...  0.312500   North  0.402662
10  0.815353  0.512925  0.856237  0.740920  ...  0.156250   North  0.919175
11  0.767635  0.286083  0.858351  0.750566  ...  0.458984    West  0.945897
12  0.417012  0.649207  0.902748  0.378415  ...  1.000000   South  0.493947
13  0.699170  0.429431  0.306554  0.759469  ...  0.428125    West  0.123754
14  0.591286  0.418787  0.038055  0.341645  ...  0.950000    West  0.514335
15  0.626556  0.696053  0.188161  0.000000  ...  0.890625    East  0.036497
16  1.000000  0.531556  0.484144  0.927020  ...  0.200000   North  0.773127
17  0.695021  0.742144  0.000000  0.568565  ...  0.281250    West  0.577809
18  0.008299  0.898386  0.649049  0.296799  ...  0.000000    East  0.346739
19  0.485477  0.025416  0.564482  0.777216  ...  0.915625    West  0.146751
20  0.929461  0.485362  0.160677  0.540407  ...  0.034375   South  1.000000
21  0.060166  0.304394  0.701903  0.230533  ...  0.521875    East  0.596646

    rolling_profit_average  sales_category  sales_rank     status  table_id  \
0                 0.350423          Medium         2.0    shipped  0.199574
1                 0.350423          Medium         4.0   returned  0.322219
2                 0.512865             Low         5.0    pending  0.279336
3                 0.391797          Medium         5.0    ordered  0.408936
4                 0.146606             Low         3.0    shipped  0.303874
5                 0.379104          Medium         3.0  delivered  0.241074
6                 0.442659          Medium         4.0    ordered  0.000000
7                 0.444220             Low         5.0  delivered  0.442931
8                 0.216740             Low         4.0   returned  0.818656
9                 0.189482          Medium         4.0    ordered  1.000000
10                0.480410            High         1.0  delivered  0.522297
11                0.761281            High         1.0    ordered  0.097799
12                0.646531            High         2.0   returned  0.423146
13                0.376646             Low         7.0   returned  0.877784
14                0.193407            High         2.0    shipped  0.941172
15                0.197442             Low         6.0    shipped  0.227576
16                0.421444            High         2.0  delivered  0.464483
17                0.504613            High         3.0    pending  0.385703
18                0.544424          Medium         3.0    shipped  0.135103
19                0.311013             Low         6.0    shipped  0.373000
20                0.401982            High         1.0   returned  0.510907
21                0.349507            High         1.0    ordered  0.333646

    total_sales   z-score
0      0.762919  0.587069
1      0.712614  0.434000
2      0.075173 -1.505593
3      0.545764 -0.073686
4      0.177651 -1.193772
5      0.643033  0.222282
6      0.598247  0.086008
7      0.422338 -0.449243
8      0.000000 -1.734326
9      0.491874 -0.237663
10     1.000000  1.308454
11     0.983861  1.259345
12     0.787603  0.662177
13     0.159551 -1.248846
14     0.812603  0.738247
15     0.076034 -1.502973
16     0.782795  0.647548
17     0.805274  0.715946
18     0.602765  0.099755
19     0.167457 -1.224793
20     0.970963  1.220099
21     0.961060  1.189967

[22 rows x 92 columns]

## 2.Create a DataFrame with hierarchical indexes based on region and category and calculate group statistics

In [11]:
# Since we have object and datetime DataType we need to filter it before we do aggregation
dropped_feature = df.drop(columns=['order_date', 'col_62', 'sales_category', 'rolling_profit_average'], inplace=True)

# We first create hierarchical index based on region and category column.
hierarchial_index = df.set_index(['region', 'category'], inplace=True)
hierarchial_df = pd.DataFrame(data=df, index=hierarchial_index, columns=df.columns)
hierarchial_df.groupby(['region', 'category']).agg(['sum', 'mean', 'median'])

                 id                   name                   product  \
                sum       mean median  sum       mean median     sum
region category
0      1          6   6.000000    6.0   16  16.000000   16.0       1
       3         35  17.500000   17.5   15   7.500000    7.5      12
       4         23   7.666667   10.0   31  10.333333   10.0      20
1      0         21  21.000000   21.0   14  14.000000   14.0       5
       2         11  11.000000   11.0   13  13.000000   13.0       3
       3         21  10.500000   10.5   13   6.500000    6.5      26
       4          4   4.000000    4.0    6   6.000000    6.0      14
2      1         35  17.500000   17.5   18   9.000000    9.0      18
       2          2   2.000000    2.0   15  15.000000   15.0      13
       3          7   7.000000    7.0    7   7.000000    7.0       4
3      0         18   6.000000    5.0   27   9.000000    8.0      22
       2         23  11.500000   11.5    5   2.500000    2.5      19
       3         17  17.000000   17.0    4   4.000000    4.0       9
       4          8   8.000000    8.0   11  11.000000   11.0       8

                                  total_sales  ... sales_rank   z-score  \
                      mean median         sum  ...     median       sum
region category                                ...
0      1          1.000000    1.0    0.762919  ...        2.0  0.587069
       3          6.000000    6.0    1.506824  ...        3.0  1.116281
       4          6.666667    8.0    1.277046  ...        4.0 -1.317210
1      0          5.000000    5.0    0.643033  ...        3.0  0.222282
       2          3.000000    3.0    0.782795  ...        2.0  0.647548
       3         13.000000   13.0    0.567046  ...        4.5 -1.743256
       4         14.000000   14.0    1.000000  ...        1.0  1.308454
2      1          9.000000    9.0    1.148614  ...        2.0  0.026327
       2         13.000000   13.0    0.000000  ...        4.0 -1.734326
       3          4.000000    4.0    0.787603  ...        2.0  0.662177
3      0          7.333333    6.0    2.211473  ...        3.0  1.526048
       2          9.500000    9.5    0.980060  ...        4.0 -0.486546
       3          9.000000    9.0    0.712614  ...        4.0  0.434000
       4          8.000000    8.0    0.159551  ...        7.0 -1.248846

                                    currency                     \
                     mean    median      sum        mean median
region category
0      1         0.587069  0.587069     98.0   98.000000   98.0
       3         0.558141  0.558141    477.0  238.500000  238.5
       4        -0.439070  0.086008   1390.0  463.333333  462.0
1      0         0.222282  0.222282    241.0  241.000000  241.0
       2         0.647548  0.647548    118.0  118.000000  118.0
       3        -0.871628 -0.871628   1284.0  642.000000  642.0
       4         1.308454  1.308454    220.0  220.000000  220.0
2      1         0.013163  0.013163   1071.0  535.500000  535.5
       2        -1.734326 -1.734326    501.0  501.000000  501.0
       3         0.662177  0.662177    239.0  239.000000  239.0
3      0         0.508683  0.715946   2009.0  669.666667  691.0
       2        -0.243273 -0.243273    751.0  375.500000  375.5
       3         0.434000  0.434000    623.0  623.000000  623.0
       4        -1.248846 -1.248846    761.0  761.000000  761.0

                average_indicator
                              sum      mean median
region category
0      1                        0  0.000000    0.0
       3                        2  1.000000    1.0
       4                        2  0.666667    1.0
1      0                        0  0.000000    0.0
       2                        0  0.000000    0.0
       3                        2  1.000000    1.0
       4                        0  0.000000    0.0
2      1                        1  0.500000    0.5
       2                        1  1.000000    1.0
       3                        1  1.000000    1.0
3      0                        1  0.333333    0.0
       2                        2  1.000000    1.0
       3                        0  0.000000    0.0
       4                        1  1.000000    1.0

[14 rows x 258 columns]